parameters:
  level: 9
  paths:
    - src
  scanDirectories:
    - vendor/wp-cli/wp-cli/php
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: missingType.parameter
