/*
	- General
*/

.um-admin.toplevel_page_ultimatemember div.error,
.um-admin.toplevel_page_ultimatemember div.updated
{
	margin: 18px 20px 0 2px !important;
}

.um-admin-dash-container {
	box-sizing: border-box;
	margin: 18px 20px 20px 2px !important;
	background: none !important;
	overflow: hidden;
}

.um-admin-dash-container * {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

.um-admin-dash-container a.ok {color: #7ACF58}
.um-admin-dash-container a.red {color: #C74A4A}

.um-admin-dash-count {
	background: #7ACF58;
	color: #fff;
	padding: 2px 6px;
	border-radius: 3px;
	font-family: Open Sans;
	font-weight: 700;
	font-size: 12px;
	margin-left: 10px;
}
.um-admin-dash-count.count-0 {background: #ddd !important}
.um-admin-dash-count.red {background:#C74A4A}

.um-admin-dash-head {
	background: #3ba1da;
	padding: 0 0 0 20px;
}

.um-admin-dash-foot {
	border-radius: 0;
	background: none !important;
	padding: 10px 0;
	border-top: 1px solid #D8D8D8;
}

/*
	- Header
*/

.um-admin-dash-head-logo {
	float: left;
	margin: 20px 10px;
}

.um-admin-dash-head h2 {
	color: #fff;
	font-size: 24px !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url(../img/logo-header.png) no-repeat left 8px;
	padding: 10px 10px 10px 80px;
	margin: 0 !important;
	display: inline-block;
	font-style: normal;
	padding-right: 5px;
	line-height: 29px;
}

.um-admin-dash-head span {
	color: #fff !important;
	font-size: 14px;
	position: relative;
	top: -10px;
	font-weight: 600;
	padding-left: 4px;
}

/*
	- Nav
*/

.um-admin-dash-nav {
	float: left;
	width: 202px;
	min-height: 300px;
}

.um-admin-dash-nav a {
	font-family: Open Sans;
	font-size: 14px;
	position: relative;
	display: block;
	padding: 10px 4px 10px 14px;
	border-width: 1px 0px;
	border-style: solid;
	border-bottom: 1px solid #E7E7E7;
	border-top: 0px none;
	font-weight: 700;
	text-decoration: none;
	transition: none 0s ease 0s;
	background: transparent !important;
	color: #555 !important;
}

.um-admin-dash-nav-title {
	padding-left: 30px;
}

.um-admin-dash-nav a:hover {
	background: #ddd !important;
}

.um-admin-dash-nav a.active,
.um-admin-dash-nav a.active:hover {
	color: #3ba1da !important;
	background: transparent !important;
}

.um-admin-dash-nav a i {
	vertical-align: middle;
	font-size: 1.35em;
	position: absolute;
	top: 8px;
}

/*
	- Main
*/

.um-admin-dash-content {
	display: none;
}

.um-admin-dash-main {
	margin-left: 201px;
	border-left: 1px solid #D8D8D8;
	padding: 0 30px;
	box-shadow: 0px 1px 0px #FFF inset;
	min-height: 300px;
}

.um-admin-dash-main h3{
	font-weight: 500;
	padding: 30px 0 10px 0;
	margin: 0 !important;
}

/*
	- Share icons
*/

.um-admin-dash-share {
	margin-top: 11px !important;
	float: left;
	line-height: 28px;
	font-size: 15px;
}

.um-admin-dash-share a {
	margin: 0 15px 0 0 !important;
	text-decoration: none !important;
	color: #777 !important;
	font-size: 22px !important;
}
.um-admin-dash-share a:hover {color: #3ba1da !important}

/*
	- Dashboard styles
*/

.um-admin-dash-two-col .um-admin-dash-col {
	float: left;
	width: 42%;
	margin-right: 4%;
}

.um-admin-dash-col a:hover {text-decoration: underline}

.um-admin-dash-item {
	padding: 5px 0;
	vertical-align: middle;
	border-top: 1px solid #e5e5e5;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}
.um-admin-dash-item * {vertical-align: middle}

.um-admin-dash-col a {
	text-decoration: none;
}

.um-admin-dash-thumb {
	display: inline-block;
	width: 30px;
	margin-right: 14px;
}

.um-admin-dash-thumb a,
.um-admin-dash-thumb img {
	display: block;
	overflow: hidden;
	border-radius: 999px;
}

.um-admin-dash-info {
	display: inline-block;
	width: 130px;
	margin-right: 10px;
}

.um-admin-dash-meta {
	display: inline-block;
	width: 120px;
	margin-right: 10px;
}

.um-admin-dash-more {
	display: inline-block;
}

/*
	- Colorful user status
*/

.um-status-awaiting_admin_review {color: #C74A4A}
.um-status-approved {color: #7ACF58}
.um-status-inactive {color: #888}
.um-status-rejected {color: #aaa}