#um-metaboxes-general.wrap h2 {
	font-size: 23px;
	font-weight: 400;
	padding: 9px 15px 4px 0px;
	line-height: 29px;
}

#um-metaboxes-general.wrap h2 sup {
	font-size: 15px;
}

.wrap a.red, .wrap span.red {color:#C74A4A}
.wrap span.ok {color:#7ACF58}

/* Misc */

.um-admin-dash-review {
	text-decoration: none !important;
	font-size: 16px;
	position: absolute;
	top: -2px;
	right: 4px;
}

/* Dashboard widgets */

.um-metabox-holder p.sub {
    padding: 0 4px 2px 4px;
	margin: 0 0 8px 0;
    color: #8F8F8F;
    font-size: 14px;
	border-bottom: 1px solid #ECECEC;
}

.um-metabox-holder .table {
    float: left;
    width: 45%;
}

.um-metabox-holder a.warning {
	color: #C74A4A !important;
	background: transparent !important;
	border: 0;
}

.um-metabox-holder .table_right {
    float: right;
    width: 45%;
}

.um-metabox-holder td.b {
    padding-right: 6px;
    text-align: right;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 14px;
    width: 1%;
}

.um-metabox-holder td.b {
    text-align: right;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 14px;
}

.um-metabox-holder table td {
    white-space: nowrap;
	font-size: 12px;
}

.um-metabox-holder td.b a {
    font-size: 18px;
}

.um-metabox-holder .norm i {
	display: inline-block;
	width: 30px;
	text-align: center;
}

.um-metabox-holder .norm p {
	margin: 5px 0;
}

.um-metabox-holder .norm .count {
	font-size: 16px;
	font-family: Gerogia;
	color: #999;
	width: 40px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

/* Share bar */

.um-admin-dash-share {
	margin-top: 11px !important;
	float: left;
	line-height: 28px;
	font-size: 15px;
}

.um-admin-dash-share a {
	margin: 0 15px 0 0 !important;
	text-decoration: none !important;
	color: #777 !important;
	font-size: 22px !important;
}
.um-admin-dash-share a:hover {color: #3ba1da !important}