.wrap h2 sup {
	font-size: 15px;
}

.wrap a.red,
.wrap span.red {color:#A00}

.wrap span.ok {color:#7ACF58}

.um-admin-dash-review {
	text-decoration: none !important;
	font-size: 16px;
	position: absolute;
	top: -2px;
	right: 4px;
}

.um-admin-dash-content h4 {
	margin: 10px 0 3px 0;
	padding: 0;
}

.um-admin-dash-share {
	margin-top: 11px !important;
	float: left;
	line-height: 28px;
	font-size: 15px;
}

.um-admin-dash-share a {
	margin: 0 15px 0 0 !important;
	text-decoration: none !important;
	color: #777 !important;
	font-size: 22px !important;
}
.um-admin-dash-share a:hover {color: #3ba1da !important}

.um-admin-dash-four-col .um-admin-dash-col {
	float: left;
	width: 25%;
	text-align: center;
}

.um-admin-dash-three-col {border-bottom: 1px solid #ddd;padding-bottom: 25px}

.um-admin-dash-three-col .um-admin-dash-col {
	float: left;
	width: 33%;
	text-align: center;
}

.um-admin-dash-two-col .um-admin-dash-col {
	display: inline-block;
	width: 46%;
	margin-right: 3%;
	vertical-align: top;
}

.um-admin-dash-col a:hover {text-decoration: underline}
.um-admin-dash-col a {text-decoration: none}

.um-admin-dash-item {
	padding: 5px 0;
	vertical-align: middle;
	border-top: 1px solid #eee;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}
.um-admin-dash-item * {vertical-align: middle}

.um-admin-dash-thumb {
	display: inline-block;
	width: 30px;
	margin-right: 10px;
}

.um-admin-dash-thumb a,
.um-admin-dash-thumb img {
	display: block;
	overflow: hidden;
	border-radius: 999px;
}

.um-admin-dash-info {
	display: inline-block;
	width: 130px;
	margin-right: 6px;
	-ms-word-break: break-all;
	word-break: break-word;
	word-wrap: break-word;
	line-height: 14px;
}

.um-admin-dash-meta {
	display: inline-block;
	width: 100px;
	margin-right: 6px;
	position: relative;
	line-height: 14px;
}

.um-admin-dash-more {
	display: inline-block;
	color: #aaa;
	line-height: 14px;
}