@import "colors"
@import "selectors"
@import "mixins"

$resolutions: ( xs:320, s:576, m:768, l:992, xl:1024 )

.um
  @each $size, $number in $resolutions
    &.#{$prefix}ui-#{$size} .#{$prefix}responsive:not(.#{$prefix}ui-#{$size})
      display: none !important
  &:not(.#{$prefix}not-responsive):not(.#{$prefix}modal)
    position: relative
    .#{$prefix}main-skeleton
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      background: $um-white
      min-height: 300px
      z-index: 4

// TEST the @container
.um
  container-type: inline-size
  .um-tabs-wrapper
    .um-tabs-mobile-dropdown,
    .um-tabs-list .choices
      display: none
  .um-profile-header-actions
    .um-dropdown-wrapper
      .um-dropdown-toggle-dots
        display: none

@container (max-width: 768px)
  .um
    .um-tabs-wrapper.um-horizontal-tabs,
    .um-tabs-wrapper.um-vertical-tabs
      .um-tabs-list > ul
        display: none
      .um-tabs-list .choices
        display: block
    .um-profile-header-actions
      .um-dropdown-wrapper
        .um-dropdown-toggle-button
          display: none
        .um-dropdown-toggle-dots
          display: block
    .um-profile-messages
      .um-private-messages-conversation-view,
      .um-private-messages-sidebar
        width: 100%
      .um-mobile-inactive
        display: none
