@import "selectors"
@import "mixins"
@import "colors"

#poststuff
  #um-admin-form-publish
    .inside
      margin: 0
      padding: 0

##{$prefix}fields-groups
  .row-actions
    .delete
      a
        color: $delete-link
        &:hover
          color: $delete-link-hover
  .wp-list-table
    .manage-column
      &.column-title
        width: 300px
    .column-status
      width: 100px
    .column-key
      width: 240px
    .column-fields
      width: 10%
      text-align: center !important

@media screen and (max-width: 782px)
  ##{$prefix}fields-groups
    .wp-list-table
      .column-fields
        text-align: left !important


$actions-gap: 10px

.um-fields-groups-field-row-template
  display: none

.um-fields-group-builder
  +flex( column, flex-start, stretch, nowrap )
  margin: 0
  padding: 16px 20px 12px 20px
  width: 100%
  row-gap: 20px
  +border-box
  .um-fields-groups-fields-wrapper
    +flex( column, flex-start, stretch, nowrap )
    row-gap: 10px
    margin: 0
    .um-fields-groups-field-placeholder
      display: block
      border: 1px dashed $gray-300
      border-radius: $button-border-radius
      width: 100%
      +border-box
      height: 40px
    .um-fields-groups-field-row
      +flex( column, flex-start, stretch, nowrap )
      margin: 0
      padding: 0
      border-radius: $button-border-radius
      border: 1px solid $gray-300
      width: 100%
      min-height: 40px
      +border-box
      .um-fields-groups-field-row-header
        +flex( row, space-between, baseline, nowrap )
        margin: 0
        padding: 10px 20px 10px 10px
        border-top-left-radius: $button-border-radius
        border-top-right-radius: $button-border-radius
        .um-fields-groups-field-data
          +flex( row, flex-start, baseline, nowrap )
          column-gap: 10px
          margin: 0
          padding: 0
          .um-fields-groups-field-move-link
            visibility: hidden
            cursor: move
          .um-fields-groups-field-title
            font-weight: bold
          .um-fields-groups-field-type
            color: $gray-400
        .um-fields-groups-field-actions
          +flex( row, flex-start, baseline, nowrap )
          margin: 0
          padding: 0
          column-gap: $actions-gap
          visibility: hidden
          a.um-fields-groups-field-delete
            color: $delete-link
            &:hover
              color: $delete-link-hover
      .um-fields-groups-field-row-edit-wrapper
        display: none
      &:hover
        .um-fields-groups-field-row-header
          .um-fields-groups-field-data
            .um-fields-groups-field-move-link
              visibility: visible
          .um-fields-groups-field-actions
            visibility: visible
      &.um-field-row-edit-mode
        .um-fields-groups-field-row-header
          background: $gray-50
        .um-fields-groups-field-row-edit-wrapper
          +flex( column, flex-start, stretch, nowrap )
          margin: 0
          padding: 10px 20px 10px 10px
          row-gap: 10px
          .um-edit-field-tabs
            +flex( row, flex-start, baseline, nowrap )
            div[data-tab]
              margin: 0
              padding: 10px 20px
              cursor: pointer
              &.current
                font-weight: bold
                border-bottom: 4px solid $gray-800
                cursor: default
          .um-edit-field-tabs-content
            & > div[data-tab]
              display: none
              &.current
                +flex( column, flex-start, stretch, nowrap )
    &.hidden
      display: none !important
  .um-fields-groups-fields-wrapper-empty
    +flex( row, center, center, nowrap )
    height: 120px
    margin: 0
    padding: 0
    &.hidden
      display: none !important
  .um-fields-groups-row-bottom
    +flex( row, center, stretch, nowrap )
    margin: 0
    padding: 0
