.um-directory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}
.um-directory .um-member-directory-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}
.um-directory .um-member-directory-header .um-member-directory-header-row.um-member-directory-filters-bar {
  padding: 0 0 10px 0;
}
.um-directory .um-member-directory-header .um-member-directory-header-row:not(.um-member-directory-filters-bar) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  margin: 0 0 10px 0;
}
.um-directory .um-member-directory-header .um-member-directory-header-row.um-header-row-invisible {
  margin: 0;
}
.um-directory .um-member-directory-header .um-member-directory-header-row.um-member-directory-search-row {
  justify-content: flex-end;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-search-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 60%;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-search-line label {
  flex: 1;
  margin: 0 10px 0 0;
  min-width: 90px;
  max-width: 85%;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-search-line label span {
  display: none;
  margin: 0 5px 0 0;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-search-line label .um-search-line {
  -webkit-appearance: textfield;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-search-line .um-do-search {
  min-width: 15%;
  width: auto;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-view-type {
  font-size: 30px;
  line-height: 30px;
  margin: 0 10px 0 0;
  width: 30px;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-view-type .um-member-directory-view-type-a {
  color: #ddd;
  display: none;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-view-type.um-disabled {
  cursor: default;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-view-type.um-disabled a {
  cursor: default;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-view-type:not(.um-disabled) .um-member-directory-view-type-a:hover {
  color: #ccc;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-view-type:not(.um-disabled) .um-member-directory-view-type-a:focus {
  color: #ddd;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  flex: 5;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-sorting .um-member-directory-sorting-a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  position: relative;
  cursor: pointer;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-sorting .um-member-directory-sorting-a a {
  margin: 0 5px 0 0;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-sorting .um-member-directory-sorting-a i.um-faicon-caret-down {
  display: inline;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-sorting .um-member-directory-sorting-a i.um-faicon-caret-up {
  display: none;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-sorting .um-member-directory-sorting-a.um-member-directory-sorting-visible i.um-faicon-caret-down {
  display: none;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-sorting .um-member-directory-sorting-a.um-member-directory-sorting-visible i.um-faicon-caret-up {
  display: inline;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-sorting .um-member-directory-sorting-a .um-new-dropdown {
  top: 24px;
  width: 200px;
  left: -12px;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-sorting .um-member-directory-sorting-a .um-new-dropdown li a[data-selected="1"] {
  display: none;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: nowrap;
  flex: 2;
  text-align: right;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-filters .um-member-directory-filters-a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  cursor: pointer;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-filters .um-member-directory-filters-a a {
  margin: 0 5px 0 0;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-filters .um-member-directory-filters-a i.um-faicon-caret-down {
  display: inline;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-filters .um-member-directory-filters-a i.um-faicon-caret-up {
  display: none;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-filters .um-member-directory-filters-a.um-member-directory-filters-visible i.um-faicon-caret-down {
  display: none;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-filters .um-member-directory-filters-a.um-member-directory-filters-visible i.um-faicon-caret-up {
  display: inline;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(max-content, auto);
  -ms-grid-template-rows: auto 1fr;
  -ms-grid-template-columns: repeat(3, 1fr);
  -ms-grid-gap: 10px;
  -ms-grid-auto-rows: minmax(max-content, auto);
  align-items: center;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter .select2-container {
  float: left;
  width: 100% !important;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter .um-s1 {
  width: 100%;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-text-filter-type input {
  width: 100%;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-slider-filter-type {
  flex-direction: column;
  align-items: stretch;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-slider-filter-type .um-slider {
  width: calc(100% - 16px);
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-slider-filter-type .um-slider .ui-slider-range.ui-widget-header {
  background: #44b0ec;
  border: 1px solid #44b0ec !important;
  margin-top: -1px;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-slider-filter-type .um-slider.ui-slider.ui-slider-horizontal {
  border: 1px solid #ddd !important;
  box-sizing: border-box;
  margin: 4px 8px 0 8px;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-slider-filter-type .um-slider-range {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  margin: 6px 0 0 8px;
  font-size: 0.8em;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-datepicker-filter-type, .um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-timepicker-filter-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-datepicker-filter-type input, .um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-timepicker-filter-type input {
  width: calc(50% - 5px);
  margin: 0 5px 0 0 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-datepicker-filter-type input:nth-child(even), .um-directory .um-member-directory-header .um-member-directory-header-row .um-search .um-search-filter.um-timepicker-filter-type input:nth-child(even) {
  margin: 0 0 0 5px !important;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search[style*="overflow: hidden;"] .um-search-filter {
  pointer-events: none;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-search.um-search-invisible {
  display: none;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-filtered-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-filtered-line .um-members-filter-tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 10px 5px 0;
  padding: 0 10px;
  border-radius: 3px;
  cursor: default;
  background: #f1f1f1;
  font-size: 13px;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-filtered-line .um-members-filter-tag:first-child {
  margin-left: 0;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-filtered-line .um-members-filter-tag .um-members-filter-remove {
  float: right;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-filtered-line .um-members-filter-tag .um-members-filter-remove:hover {
  color: #a00;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-filtered-line .um-clear-filters {
  display: none;
}
.um-directory .um-member-directory-header .um-member-directory-header-row .um-filtered-line .um-clear-filters a {
  padding: 3px 10px;
  margin: 0 10px;
}
.um-directory .um-member-directory-header .um-member-view-switcher {
  margin-right: 24px;
}
.um-directory .um-member-directory-header .um-members-counter {
  font-size: var(--um-text-font-size-lg, 18px);
  line-height: var(--um-text-line-height-lg, 28px);
  font-weight: var(--um-text-font-weight-semibold, 600);
}
.um-directory .um-member-directory-header .um-member-directory-sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  column-gap: 8px;
}
.um-directory .um-member-directory-header .um-member-directory-sorting > span {
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-semibold, 600);
}
.um-directory .um-member-directory-header .um-member-directory-sorting .um-dropdown-wrapper {
  min-width: auto;
  min-height: auto;
}
.um-directory .um-members-wrapper.um-members-grid {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(max-content, auto);
  -ms-grid-template-rows: auto 1fr;
  -ms-grid-template-columns: repeat(2, 1fr);
  -ms-grid-gap: 10px;
  -ms-grid-auto-rows: minmax(max-content, auto);
  align-items: stretch;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover {
  padding: 0 0 24px 0;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-photos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-photos .um-avatar {
  position: absolute;
  bottom: -64px;
  z-index: 2;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-photos .um-member-cover {
  z-index: 1;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-cover img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: scale-down;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-cover img[data-ratio="1.6:1"] {
  aspect-ratio: 1.6/1;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-cover img[data-ratio="2.7:1"] {
  aspect-ratio: 2.7/1;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-cover img[data-ratio="2.2:1"] {
  aspect-ratio: 2.2/1;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-cover img[data-ratio="3.2:1"] {
  aspect-ratio: 3.2/1;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-dropdown-wrapper {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 12px;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-dropdown-wrapper .um-dropdown-toggle {
  float: right;
  width: 20px;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main {
  width: 100%;
  padding: 0 24px;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-name {
  font-size: var(--um-header-font-size-xs, 24px);
  line-height: var(--um-header-line-height-xs, 32px);
  font-weight: var(--um-header-font-weight-semibold, 600);
  color: var(--um-gray-900, #101828);
  text-align: center;
  width: 100%;
  word-break: break-word;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-tagline {
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-regular, 400);
  color: var(--um-gray-600, #475467);
  word-break: break-word;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-meta {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  row-gap: 8px;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-in-out;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-meta .um-member-meta-inner {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  overflow: hidden;
  row-gap: 8px;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-meta .um-member-metaline {
  width: 100%;
  padding: 0;
  margin: 0;
  word-break: break-word;
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-regular, 400);
  color: var(--um-gray-600, #475467);
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-meta .um-member-metaline strong {
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-semibold, 600);
  color: var(--um-gray-700, #344054);
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-meta.um-member-meta-no-animate {
  grid-template-rows: 1fr;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-meta ~ .um-member-less {
  display: none;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-meta ~ .um-member-more {
  display: initial;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-meta.um-member-meta-visible {
  grid-template-rows: 1fr;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-meta.um-member-meta-visible ~ .um-member-less {
  display: initial;
}
.um-directory .um-members-wrapper.um-members-grid .um-box.um-member.um-member-with-cover .um-member-box-main .um-member-meta.um-member-meta-visible ~ .um-member-more {
  display: none;
}
.um-directory.um-ui-xs .um-members-wrapper.um-members-grid {
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-template-columns: repeat(1, 1fr);
}
.um-directory.um-ui-m .um-members-wrapper.um-members-grid, .um-directory.um-ui-l .um-members-wrapper.um-members-grid {
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
}
.um-directory.um-ui-xl .um-members-wrapper.um-members-grid {
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-template-columns: repeat(4, 1fr);
}
.um-directory .um-members-pagination-box {
  margin-top: 12px;
}