@-webkit-keyframes um-svg-spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes um-svg-spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes um-svg-spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes um-svg-spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.um-ajax-spinner-svg {
  position: relative;
}
.um-ajax-spinner-svg svg {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: um-svg-spin 1s linear infinite;
  -moz-animation: um-svg-spin 1s linear infinite;
  animation: um-svg-spin 1s linear infinite;
}
.um-ajax-spinner-svg.um-ajax-spinner-s {
  width: 24px;
  height: 24px;
}
.um-ajax-spinner-svg.um-ajax-spinner-s svg {
  transform: scale(0.5);
  width: 24px;
  height: 24px;
}
.um-ajax-spinner-svg.um-ajax-spinner-m {
  width: 32px;
  height: 32px;
}
.um-ajax-spinner-svg.um-ajax-spinner-l {
  width: 48px;
  height: 48px;
}
.um-ajax-spinner-svg.um-ajax-spinner-xl {
  width: 66px;
  height: 66px;
}

.um {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.um .um-button {
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  background-color: var(--um-blocks-button-bg-color, #fff);
  color: var(--um-blocks-button-fg-color, var(--um-gray-700, #344054));
  border: 1px solid var(--um-blocks-button-bg-color, var(--um-gray-300, #d0d5dd));
  cursor: pointer;
}
.um .um-button:hover {
  color: var(--um-blocks-button-fg-color, var(--um-gray-800, #1d2939));
  background-color: var(--um-blocks-button-bg-hover-color, var(--um-gray-50, #f9fafb));
}
.um .um-button:focus {
  background-color: var(--um-blocks-button-bg-color, #fff);
  color: var(--um-blocks-button-fg-color, var(--um-gray-700, #344054));
  box-shadow: 0 0 0 4px var(--um-gray-400-a-14, rgba(152, 162, 179, 0.14)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
}
.um .um-button:disabled {
  cursor: not-allowed;
  color: var(--um-blocks-button-fg-color, var(--um-gray-400, #98a2b3));
  background-color: var(--um-blocks-button-bg-disabled-color, var(--um-blocks-button-bg-color, #fff));
  border: 1px solid var(--um-blocks-button-bg-disabled-color, var(--um-gray-200, #eaecf0));
}
.um .um-button.um-button-full-width {
  width: 100%;
}
.um .um-button.um-button-size-s {
  padding: 8px 14px;
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-semibold, 600);
}
.um .um-button.um-button-size-m {
  padding: 10px 16px;
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-semibold, 600);
}
.um .um-button.um-button-size-l {
  padding: 10px 18px;
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-semibold, 600);
}
.um .um-button.um-button-size-xl {
  padding: 12px 20px;
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-semibold, 600);
}
.um .um-button.um-link-button {
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
}
.um .um-button.um-link-button-disabled {
  cursor: not-allowed;
  color: var(--um-blocks-button-fg-color, var(--um-gray-400, #98a2b3));
  background-color: var(--um-blocks-button-bg-disabled-color, var(--um-blocks-button-bg-color, #fff));
  border: 1px solid var(--um-blocks-button-bg-disabled-color, var(--um-gray-200, #eaecf0));
}
.um .um-button.um-link-button-disabled:hover, .um .um-button.um-link-button-disabled:focus {
  cursor: not-allowed;
  color: var(--um-blocks-button-fg-color, var(--um-gray-400, #98a2b3));
  background-color: var(--um-blocks-button-bg-disabled-color, var(--um-blocks-button-bg-color, #fff));
  border: 1px solid var(--um-blocks-button-bg-disabled-color, var(--um-gray-200, #eaecf0));
  box-shadow: none;
}
.um .um-button.um-button-primary {
  background-color: var(--um-primary-600-bg, #7f56d9);
  border: 1px solid var(--um-primary-600-bg, #7f56d9);
  color: var(--um-primary-600-fg, #fff);
}
.um .um-button.um-button-primary:hover {
  background-color: var(--um-primary-700-bg, #6941c6);
  border: 1px solid var(--um-primary-700-bg, #6941c6);
  color: var(--um-primary-600-fg, #fff);
}
.um .um-button.um-button-primary:focus {
  background-color: var(--um-primary-600-bg, #7f56d9);
  border: 1px solid var(--um-primary-600-bg, #7f56d9);
  box-shadow: 0 0 0 4px var(--um-primary-500-a-24, rgba(158, 119, 237, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
}
.um .um-button.um-button-primary:disabled {
  background-color: var(--um-gray-100, #f2f4f7);
  border: 1px solid var(--um-gray-200, #eaecf0);
  color: var(--um-gray-400, #98a2b3);
  cursor: not-allowed;
}
.um .um-button.um-button-primary.um-link-button-disabled {
  background-color: var(--um-gray-100, #f2f4f7);
  border: 1px solid var(--um-gray-200, #eaecf0);
  color: var(--um-gray-400, #98a2b3);
  cursor: not-allowed;
}
.um .um-button.um-button-primary.um-link-button-disabled:hover, .um .um-button.um-button-primary.um-link-button-disabled:focus {
  cursor: not-allowed;
  background-color: var(--um-gray-100, #f2f4f7);
  border: 1px solid var(--um-gray-200, #eaecf0);
  color: var(--um-gray-400, #98a2b3);
  box-shadow: none;
}
.um .um-button.um-button-primary-destructive {
  background-color: var(--um-error-600, #d92d20);
  border: 1px solid var(--um-error-600, #d92d20);
  color: #fff;
}
.um .um-button.um-button-primary-destructive:hover {
  background-color: var(--um-error-700, #b42318);
  border: 1px solid var(--um-error-700, #b42318);
  color: #fff;
}
.um .um-button.um-button-primary-destructive:focus {
  background-color: var(--um-error-600, #d92d20);
  border: 1px solid var(--um-error-600, #d92d20);
  box-shadow: 0 0 0 4px var(--um-error-500-a-24, rgba(240, 68, 56, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  color: #fff;
}
.um .um-button.um-button-primary-destructive:disabled {
  background-color: var(--um-gray-100, #f2f4f7);
  border: 1px solid var(--um-gray-200, #eaecf0);
  color: var(--um-gray-400, #98a2b3);
  cursor: not-allowed;
}
.um .um-button.um-button-primary-destructive.um-link-button-disabled {
  background-color: var(--um-gray-100, #f2f4f7);
  border: 1px solid var(--um-gray-200, #eaecf0);
  color: var(--um-gray-400, #98a2b3);
  cursor: not-allowed;
}
.um .um-button.um-button-primary-destructive.um-link-button-disabled:hover, .um .um-button.um-button-primary-destructive.um-link-button-disabled:focus {
  cursor: not-allowed;
  background-color: var(--um-gray-100, #f2f4f7);
  border: 1px solid var(--um-gray-200, #eaecf0);
  color: var(--um-gray-400, #98a2b3);
  box-shadow: none;
}
.um .um-button.um-button-secondary-destructive {
  background-color: #fff;
  border: 1px solid var(--um-error-300, #fda29b);
  color: var(--um-error-700, #b42318);
}
.um .um-button.um-button-secondary-destructive:hover {
  background-color: var(--um-error-50, #fef3f2);
  border: 1px solid var(--um-error-300, #fda29b);
  color: var(--um-error-800, #912018);
}
.um .um-button.um-button-secondary-destructive:focus {
  background-color: #fff;
  border: 1px solid var(--um-error-300, #fda29b);
  box-shadow: 0 0 0 4px var(--um-error-500-a-24, rgba(240, 68, 56, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  color: var(--um-error-700, #b42318);
}
.um .um-button.um-button-secondary-destructive:disabled {
  color: var(--um-blocks-button-fg-color, var(--um-gray-400, #98a2b3));
  background-color: var(--um-blocks-button-bg-disabled-color, var(--um-blocks-button-bg-color, #fff));
  border: 1px solid var(--um-blocks-button-bg-disabled-color, var(--um-gray-200, #eaecf0));
  cursor: not-allowed;
}
.um .um-button.um-button-secondary-destructive.um-link-button-disabled {
  color: var(--um-blocks-button-fg-color, var(--um-gray-400, #98a2b3));
  background-color: var(--um-blocks-button-bg-disabled-color, var(--um-blocks-button-bg-color, #fff));
  border: 1px solid var(--um-blocks-button-bg-disabled-color, var(--um-gray-200, #eaecf0));
  cursor: not-allowed;
}
.um .um-button.um-button-secondary-destructive.um-link-button-disabled:hover, .um .um-button.um-button-secondary-destructive.um-link-button-disabled:focus {
  cursor: not-allowed;
  color: var(--um-blocks-button-fg-color, var(--um-gray-400, #98a2b3));
  background-color: var(--um-blocks-button-bg-disabled-color, var(--um-blocks-button-bg-color, #fff));
  border: 1px solid var(--um-blocks-button-bg-disabled-color, var(--um-gray-200, #eaecf0));
  box-shadow: none;
}
.um .um-button.um-button-tertiary-destructive {
  background-color: transparent;
  color: var(--um-error-700, #b42318);
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-destructive:hover {
  color: var(--um-error-800, #912018);
  background-color: var(--um-error-50, #fef3f2);
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-destructive:focus {
  color: var(--um-error-700, #b42318);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-destructive:disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-destructive.um-link-button-disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-destructive.um-link-button-disabled:hover, .um .um-button.um-button-tertiary-destructive.um-link-button-disabled:focus {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-destructive {
  background-color: transparent;
  color: var(--um-error-700, #b42318);
  border: none;
  border-radius: none;
  box-shadow: none;
}
.um .um-button.um-button-link-destructive:hover {
  color: var(--um-error-800, #912018);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-destructive:focus {
  color: var(--um-error-700, #b42318);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-destructive:disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-destructive.um-link-button-disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-destructive.um-link-button-disabled:hover, .um .um-button.um-button-link-destructive.um-link-button-disabled:focus {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-secondary-color {
  background-color: #fff;
  color: var(--um-primary-700-bg, #6941c6);
  border: 1px solid var(--um-primary-300-bg, #d6bbfb);
}
.um .um-button.um-button-secondary-color:hover {
  color: var(--um-primary-800-bg, #53389e);
  background-color: var(--um-primary-50-bg, #f9f5ff);
  border: 1px solid var(--um-primary-300-bg, #d6bbfb);
}
.um .um-button.um-button-secondary-color:focus {
  border: 1px solid var(--um-primary-300-bg, #d6bbfb);
  background-color: #fff;
  color: var(--um-primary-700-bg, #6941c6);
  box-shadow: 0 0 0 4px var(--um-primary-500-a-24, rgba(158, 119, 237, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
}
.um .um-button.um-button-secondary-color:disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: #fff;
  border: 1px solid var(--um-gray-200, #eaecf0);
  box-shadow: none;
}
.um .um-button.um-button-secondary-color.um-link-button-disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: #fff;
  border: 1px solid var(--um-gray-200, #eaecf0);
  box-shadow: none;
}
.um .um-button.um-button-secondary-color.um-link-button-disabled:hover, .um .um-button.um-button-secondary-color.um-link-button-disabled:focus {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: #fff;
  border: 1px solid var(--um-gray-200, #eaecf0);
  box-shadow: none;
}
.um .um-button.um-button-tertiary-gray {
  background-color: transparent;
  color: var(--um-gray-600, #475467);
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-gray:hover {
  color: var(--um-gray-700, #344054);
  background-color: var(--um-gray-50, #f9fafb);
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-gray:focus {
  color: var(--um-gray-600, #475467);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-gray:disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-gray.um-link-button-disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-gray.um-link-button-disabled:hover, .um .um-button.um-button-tertiary-gray.um-link-button-disabled:focus {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-color {
  background-color: transparent;
  color: var(--um-primary-700-bg, #6941c6);
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-color:hover {
  color: var(--um-primary-800-bg, #53389e);
  background-color: var(--um-primary-50-bg, #f9f5ff);
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-color:focus {
  color: var(--um-primary-700-bg, #6941c6);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-color:disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-color.um-link-button-disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-tertiary-color.um-link-button-disabled:hover, .um .um-button.um-button-tertiary-color.um-link-button-disabled:focus {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-gray {
  background-color: transparent;
  color: var(--um-gray-600, #475467);
  border: none;
  border-radius: none;
  box-shadow: none;
}
.um .um-button.um-button-link-gray:hover {
  color: var(--um-gray-700, #344054);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-gray:focus {
  color: var(--um-gray-600, #475467);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-gray:disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-gray.um-link-button-disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-gray.um-link-button-disabled:hover, .um .um-button.um-button-link-gray.um-link-button-disabled:focus {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-color {
  background-color: transparent;
  color: var(--um-primary-700-bg, #6941c6);
  border: none;
  border-radius: none;
  box-shadow: none;
}
.um .um-button.um-button-link-color:hover {
  color: var(--um-primary-800-bg, #53389e);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-color:focus {
  color: var(--um-primary-700-bg, #6941c6);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-color:disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-color.um-link-button-disabled {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-button.um-button-link-color.um-link-button-disabled:hover, .um .um-button.um-button-link-color.um-link-button-disabled:focus {
  cursor: not-allowed;
  color: var(--um-gray-400, #98a2b3);
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.um .um-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: 12px;
  border: 1px solid var(--um-gray-200, #eaecf0);
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 2px var(--um-gray-900-a-6, rgba(16, 24, 40, 0.06)), 0 1px 3px var(--um-gray-900-a-10, rgba(16, 24, 40, 0.1));
}
.um .um-box .um-box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  column-gap: 8px;
  padding: 24px 24px 8px 24px;
}
.um .um-box .um-box-header .um-box-title {
  color: var(--um-gray-600, #475467);
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-bold, 700);
}
.um .um-box .um-box-header.um-box-no-title {
  justify-content: flex-end;
}
.um .um-box .um-box-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0 24px 24px 24px;
  row-gap: 8px;
  color: var(--um-gray-900, #101828);
  word-wrap: break-word;
  word-break: break-word;
}
.um .um-box .um-box-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 16px 24px;
  border-top: 1px solid var(--um-gray-200, #eaecf0);
}
.um .um-box.um-box-no-footer {
  row-gap: 8px;
  padding: 24px;
}
.um .um-box.um-box-no-footer .um-box-header {
  padding: 0;
}
.um .um-box.um-box-no-footer .um-box-content {
  padding: 0;
}
.um .um-link {
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-bold, 700);
  color: var(--um-primary-700-bg, #6941c6);
  text-decoration: none;
}
.um .um-link:hover {
  color: var(--um-primary-800-bg, #53389e);
}
.um .um-link:focus {
  color: var(--um-primary-700-bg, #6941c6);
}
.um .um-avatar {
  margin: 0;
  padding: 0;
}
.um .um-avatar img {
  display: block;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.um .um-avatar.um-avatar-s {
  width: 32px;
  height: 32px;
}
.um .um-avatar.um-avatar-m {
  width: 40px;
  height: 40px;
}
.um .um-avatar.um-avatar-l {
  width: 64px;
  height: 64px;
}
.um .um-avatar.um-avatar-xl {
  width: 128px;
  height: 128px;
}
.um .um-avatar.um-avatar-round {
  overflow: hidden;
  border-radius: 100%;
}
.um .um-profile-photo-uploader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
.um .um-profile-photo-uploader .um-profile-photo-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
}
.um .um-profile-photo-uploader .um-profile-photo-wrapper .um-profile-photo {
  border: 4px solid #fff;
  box-shadow: 0 4px 6px -2px var(--um-gray-900-a-3, rgba(16, 24, 40, 0.03)), 0 12px 16px -4px var(--um-gray-900-a-8, rgba(16, 24, 40, 0.08));
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um .um-profile-photo-uploader .um-profile-photo-wrapper .um-profile-photo img {
  height: auto;
}
.um .um-profile-photo-uploader .um-profile-photo-wrapper .um-profile-photo:hover ~ .um-profile-photo-uploader-overflow {
  display: block;
}
.um .um-profile-photo-uploader .um-profile-photo-uploader-overflow {
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  display: none;
}
.um .um-profile-photo-uploader .um-profile-photo-uploader-overflow svg {
  stroke: #fff;
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 22px);
}
.um .um-profile-photo-uploader .um-profile-photo-uploader-overflow svg > * {
  stroke: #fff;
}
.um .um-profile-photo-uploader .um-profile-photo-uploader-overflow:hover {
  display: block;
}
.um .um-profile-photo-uploader .um-profile-photo-overflow {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  display: none;
}
.um .um-profile-photo-uploader .um-profile-photo-overflow .um-ajax-spinner-svg {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.um .um-profile-photo-uploader.um-processing .um-profile-photo-uploader-overflow {
  display: none;
}
.um .um-profile-photo-uploader.um-processing .um-profile-photo-overflow {
  display: block;
}
.um .um-form-new {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  row-gap: 24px;
}
.um .um-form-new .um-form-supporting-text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--um-gray-600, #475467);
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-regular, 400);
  text-align: center;
}
.um .um-form-new .um-form-rows {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  row-gap: 20px;
}
.um .um-form-new .um-form-rows .um-form-row {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  row-gap: 20px;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  column-gap: 12px;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  row-gap: 20px;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  row-gap: 6px;
  width: 100%;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]), .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > select, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > textarea,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]),
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > select,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--um-gray-300, #d0d5dd);
  background: #fff;
  box-shadow: 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  padding: 8px 12px;
  color: var(--um-gray-900, #101828);
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]):focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]):focus-visible, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > select:focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > select:focus-visible, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > textarea:focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > textarea:focus-visible,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]):focus,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]):focus-visible,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > select:focus,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > select:focus-visible,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > textarea:focus,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > textarea:focus-visible {
  border: 1px solid var(--um-primary-300-bg, #d6bbfb);
  box-shadow: 0 0 0 4px var(--um-primary-500-a-24, rgba(158, 119, 237, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  background: #fff;
  outline: none;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]):disabled, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > select:disabled, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > textarea:disabled,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]):disabled,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > select:disabled,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > textarea:disabled {
  background: var(--um-gray-50, #f9fafb);
  color: var(--um-gray-500, #667085);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color])::placeholder, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > select::placeholder, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > textarea::placeholder,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color])::placeholder,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > select::placeholder,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > textarea::placeholder {
  color: var(--um-gray-500, #667085);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]).um-error, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > select.um-error, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > textarea.um-error,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]).um-error,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > select.um-error,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > textarea.um-error {
  border-color: var(--um-error-300, #fda29b);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]).um-error:focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]).um-error:focus-visible, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > select.um-error:focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > select.um-error:focus-visible, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > textarea.um-error:focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field > textarea.um-error:focus-visible,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]).um-error:focus,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]).um-error:focus-visible,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > select.um-error:focus,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > select.um-error:focus-visible,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > textarea.um-error:focus,
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password > textarea.um-error:focus-visible {
  box-shadow: 0 0 0 4px var(--um-error-500-a-24, rgba(240, 68, 56, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password {
  position: relative;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password .um-toggle-password {
  transition: all 0.2s linear;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-color: var(--um-primary-600-bg, #7f56d9);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password .um-toggle-password:hover {
  background-color: var(--um-primary-700-bg, #6941c6);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password .um-toggle-password.um-icon-eye {
  mask: url(../icons/eye.svg);
  -webkit-mask: url(../icons/eye.svg);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-area-password .um-toggle-password.um-icon-eye-disabled {
  mask: url(../icons/eye-off.svg);
  -webkit-mask: url(../icons/eye-off.svg);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-hint {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--um-gray-600, #475467);
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field-hint.um-field-error {
  color: var(--um-error-500, #f04438);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col label {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  color: var(--um-gray-700, #344054);
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-medium, 500);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col label .um-req {
  color: #a00;
  margin: 0 0 0 3px;
  font-weight: normal;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]), .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > select, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--um-gray-300, #d0d5dd);
  background: #fff;
  box-shadow: 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  padding: 8px 12px;
  color: var(--um-gray-900, #101828);
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]):focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]):focus-visible, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > select:focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > select:focus-visible, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > textarea:focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > textarea:focus-visible {
  border: 1px solid var(--um-primary-300-bg, #d6bbfb);
  box-shadow: 0 0 0 4px var(--um-primary-500-a-24, rgba(158, 119, 237, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  background: #fff;
  outline: none;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]):disabled, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > select:disabled, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > textarea:disabled {
  background: var(--um-gray-50, #f9fafb);
  color: var(--um-gray-500, #667085);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color])::placeholder, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > select::placeholder, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > textarea::placeholder {
  color: var(--um-gray-500, #667085);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]).um-error, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > select.um-error, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > textarea.um-error {
  border-color: var(--um-error-300, #fda29b);
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]).um-error:focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=color]).um-error:focus-visible, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > select.um-error:focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > select.um-error:focus-visible, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > textarea.um-error:focus, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > textarea.um-error:focus-visible {
  box-shadow: 0 0 0 4px var(--um-error-500-a-24, rgba(240, 68, 56, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--um-gray-300, #d0d5dd);
  box-shadow: 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  padding: 0;
  background: #fff;
  height: 42px;
  min-width: 64px;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input[type=color]::-webkit-color-swatch, .um .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col > input[type=color]::-moz-color-swatch {
  border: 1px solid #fff;
  border-radius: 8px;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols.um-form-cols-1 .um-form-col {
  width: 100%;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols.um-form-cols-2 .um-form-col {
  width: 50%;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols.um-form-cols-2 .um-form-col.um-form-col-right {
  align-items: end;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols.um-form-cols-2 .um-form-col.um-form-col-right .um-um-field {
  align-items: end;
}
.um .um-form-new .um-form-rows .um-form-row .um-form-cols.um-form-cols-3 .um-form-col {
  width: 33.3333333333%;
}
.um .um-form-new .um-form-submit {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  row-gap: 16px;
}
.um .um-form-new .um-form-submit .um-center {
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--um-gray-600, #475467);
}

.range_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sliders_control {
  position: relative;
  height: 8px;
  padding: 8px 0;
}

input[type=range]#fromSlider::-webkit-slider-thumb {
  margin-top: 8px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  box-shadow: 0 2px 4px -2px var(--um-gray-900-a-6, rgba(16, 24, 40, 0.06)), 0 4px 8px -2px var(--um-gray-900-a-10, rgba(16, 24, 40, 0.1));
  border-radius: 12px;
  border: 2px solid var(--um-primary-600-bg, #7f56d9);
  background: #fff;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  border: 2px solid var(--um-primary-700-bg, #6941c6);
}

input[type=range]::-webkit-slider-thumb:active {
  border: 2px solid var(--um-primary-600-bg, #7f56d9);
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  position: absolute;
  background-color: var(--um-gray-200, #eaecf0);
  pointer-events: none;
  height: 8px;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.sliders_control:hover input[type=range] {
  background-color: var(--um-gray-300, #d0d5dd);
}
.sliders_control:hover input[type=range]::-webkit-slider-thumb {
  border: 2px solid var(--um-primary-700-bg, #6941c6);
}

#fromSlider {
  height: 0;
  z-index: 1;
}

.um.um-account {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  column-gap: 24px;
}
.um.um-account .um-account-side {
  min-width: 160px;
}
.um.um-account .um-account-side ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 8px;
}
.um.um-account .um-account-side ul li {
  width: 100%;
}
.um.um-account .um-account-side ul li a.um-link {
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-bold, 700);
  width: 100%;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um.um-account .um-account-side ul li a.um-link.current {
  color: var(--um-primary-700-bg, #6941c6);
  background-color: var(--um-primary-200-bg, #e9d7fe);
}
.um.um-account .um-account-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: calc(100% - 160px);
}
.um.um-account .um-account-main .um-account-tab {
  width: 100%;
  row-gap: 24px;
  display: none;
}
.um.um-account .um-account-main[data-current_tab=general] .um-account-tab[data-tab=general] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.um.um-account .um-account-main[data-current_tab=password] .um-account-tab[data-tab=password] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.um.um-account .um-account-main[data-current_tab=privacy] .um-account-tab[data-tab=privacy] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.um.um-account .um-account-main[data-current_tab=delete] .um-account-tab[data-tab=delete] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}