@import "selectors"
@import "mixins"
@import "colors"

+keyframes(um-ajax-spinning)
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

.#{$prefix}ajax-spinner
  +transition(.1s,opacity)
  color: #c6c6c6 !important
  -webkit-animation: um-ajax-spinning 1.1s infinite linear
  animation: um-ajax-spinning 1.1s infinite linear
  border-top: .2em solid rgba(198, 198, 198, 0.2)
  border-right: .2em solid rgba(198, 198, 198, 0.2)
  border-bottom: .2em solid rgba(198, 198, 198, 0.2)
  border-left: .2em solid #c6c6c6
  font-size: 1.75em
  filter: alpha(opacity=0)
  -ms-transform: translateZ(0)
  transform: translateZ(0)
  border-radius: 50%
  display: block
  width: 2.5em
  height: 2.5em
  margin: 0
  outline: 0
  padding: 0
  vertical-align: baseline

.um
  +flex( column, flex-start, stretch, nowrap )

  .#{$prefix}button
    border-radius: $button-border-radius
    text-align: center
    font-size: inherit
    font-weight: $bold-weight
    +box-shadow-xs
    background-color: $button-bg
    color: $button-color
    border: 1px solid $button-border-color
    cursor: pointer
    &:hover
      color: $button-color-hover
      background-color: $button-bg-hover
    &:focus
      background-color: $button-bg
      color: $button-color
      +box-shadow-xs-focused
    &:disabled
      cursor: default
      color: $button-color-disabled
      background-color: $button-bg-disabled
      border: 1px solid $button-border-color-disabled
    &.#{$prefix}button-size-m
      padding: 10px 16px
      font-size: $sm-size
      line-height: $sm-line-height
    &.#{$prefix}button-size-l
      padding: 10px 18px
      font-size: $m-size
      line-height: $m-line-height
    &.#{$prefix}button-size-xl
      padding: 12px 20px
      font-size: $m-size
      line-height: $m-line-height
    &.#{$prefix}button-primary
      background-color: $button-primary-bg
      border: 1px solid $button-primary-bg
      color: $button-primary-color
      &:hover
        background-color: $button-primary-bg-hover
        border: 1px solid $button-primary-bg-hover
        color: $button-primary-color
      &:focus
        background-color: $button-primary-bg
        +box-shadow-xs-primary-focused
      &:disabled
        background-color: $button-primary-bg-disabled
        border: 1px solid $button-primary-bg-disabled
