.um {
  /* ===============================
  =            Choices            =
  =============================== */
  /* =====  End of Choices  ====== */
}
.um .choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  font-size: 16px;
}
.um .choices:focus {
  outline: none;
}
.um .choices:last-child {
  margin-bottom: 0;
}
.um .choices.is-open {
  overflow: visible;
}
.um .choices.is-disabled .choices__inner,
.um .choices.is-disabled .choices__input {
  background-color: var(--um-gray-50, #f9fafb);
  cursor: not-allowed;
  user-select: none;
}
.um .choices.is-disabled .choices__item {
  cursor: not-allowed;
}
.um .choices [hidden] {
  display: none !important;
}
.um .choices[data-type*=select-one] {
  cursor: pointer;
}
.um .choices[data-type*=select-one] .choices__inner {
  padding-bottom: 7.5px;
}
.um .choices[data-type*=select-one] .choices__input {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 0;
}
.um .choices[data-type*=select-one] .choices__button {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
  padding: 0;
  background-size: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  height: 20px;
  width: 20px;
  border-radius: 10em;
  opacity: 0.25;
}
.um .choices[data-type*=select-one] .choices__button:hover, .um .choices[data-type*=select-one] .choices__button:focus {
  opacity: 1;
}
.um .choices[data-type*=select-one] .choices__button:focus {
  box-shadow: 0 0 0 2px #00bcd4;
}
.um .choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
  display: none;
}
.um .choices[data-type*=select-one]::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: var(--um-gray-900, #101828) transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}
.um .choices[data-type*=select-one].is-open::after {
  border-color: transparent transparent var(--um-gray-900, #101828) transparent;
  margin-top: -7.5px;
}
.um .choices[data-type*=select-one][dir=rtl]::after {
  left: 11.5px;
  right: auto;
}
.um .choices[data-type*=select-one][dir=rtl] .choices__button {
  right: auto;
  left: 0;
  margin-left: 25px;
  margin-right: 0;
}
.um .choices[data-type*=select-multiple] .choices__inner,
.um .choices[data-type*=text] .choices__inner {
  cursor: text;
}
.um .choices[data-type*=select-multiple] .choices__button,
.um .choices[data-type*=text] .choices__button {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-right: -4px;
  margin-bottom: 0;
  margin-left: 8px;
  padding-left: 16px;
  border-left: 1px solid #008fa1;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
  background-size: 8px;
  width: 8px;
  line-height: 1;
  opacity: 0.75;
  border-radius: 0;
}
.um .choices[data-type*=select-multiple] .choices__button:hover, .um .choices[data-type*=select-multiple] .choices__button:focus,
.um .choices[data-type*=text] .choices__button:hover,
.um .choices[data-type*=text] .choices__button:focus {
  opacity: 1;
}
.um .choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #fff;
  padding: 7.5px 7.5px 3.75px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  min-height: 44px;
  overflow: hidden;
}
.is-focused .um .choices__inner, .is-open .um .choices__inner {
  border-color: #b7b7b7;
}
.is-open .um .choices__inner {
  border-radius: 8px 8px 0 0;
}
.is-flipped.is-open .um .choices__inner {
  border-radius: 0 0 8px 8px;
}
.um .choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.um .choices__list--single {
  display: inline-block;
  padding: 4px 16px 4px 4px;
  width: 100%;
}
[dir=rtl] .um .choices__list--single {
  padding-right: 4px;
  padding-left: 16px;
}
.um .choices__list--single .choices__item {
  width: 100%;
}
.um .choices__list--multiple {
  display: inline;
}
.um .choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #00bcd4;
  border: 1px solid #00a5bb;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box;
}
.um .choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
}
[dir=rtl] .um .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px;
}
.um .choices__list--multiple .choices__item.is-highlighted {
  background-color: #00a5bb;
  border: 1px solid #008fa1;
}
.is-disabled .um .choices__list--multiple .choices__item {
  background-color: #aaaaaa;
  border: 1px solid #919191;
}
.um .choices__list--dropdown, .um .choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}
.um .is-active.choices__list--dropdown, .um .is-active.choices__list[aria-expanded] {
  visibility: visible;
}
.is-open .um .choices__list--dropdown, .is-open .um .choices__list[aria-expanded] {
  border-color: #b7b7b7;
}
.is-flipped .um .choices__list--dropdown, .is-flipped .um .choices__list[aria-expanded] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
}
.um .choices__list--dropdown .choices__list, .um .choices__list[aria-expanded] .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}
.um .choices__list--dropdown .choices__item, .um .choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 10px;
  font-size: 14px;
}
[dir=rtl] .um .choices__list--dropdown .choices__item, [dir=rtl] .um .choices__list[aria-expanded] .choices__item {
  text-align: right;
}
@media (min-width: 640px) {
  .um .choices__list--dropdown .choices__item--selectable, .um .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 100px;
  }
  .um .choices__list--dropdown .choices__item--selectable::after, .um .choices__list[aria-expanded] .choices__item--selectable::after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  [dir=rtl] .um .choices__list--dropdown .choices__item--selectable, [dir=rtl] .um .choices__list[aria-expanded] .choices__item--selectable {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px;
  }
  [dir=rtl] .um .choices__list--dropdown .choices__item--selectable::after, [dir=rtl] .um .choices__list[aria-expanded] .choices__item--selectable::after {
    right: auto;
    left: 10px;
  }
}
.um .choices__list--dropdown .choices__item--selectable.is-highlighted, .um .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #f2f2f2;
}
.um .choices__list--dropdown .choices__item--selectable.is-highlighted::after, .um .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  opacity: 0.5;
}
.um .choices__item {
  cursor: default;
}
.um .choices__item--selectable {
  cursor: pointer;
}
.um .choices__item--disabled {
  cursor: not-allowed;
  user-select: none;
  opacity: 0.5;
}
.um .choices__heading {
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  color: gray;
}
.um .choices__button {
  text-indent: -9999px;
  appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.um .choices__button:focus {
  outline: none;
}
.um .choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}
.um .choices__input:focus {
  outline: 0;
}
.um .choices__input::-webkit-search-decoration, .um .choices__input::-webkit-search-cancel-button, .um .choices__input::-webkit-search-results-button, .um .choices__input::-webkit-search-results-decoration {
  display: none;
}
.um .choices__input::-ms-clear, .um .choices__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
[dir=rtl] .um .choices__input {
  padding-right: 2px;
  padding-left: 0;
}
.um .choices__placeholder {
  opacity: 0.5;
}
.um .choices {
  width: 100%;
  font-size: initial;
}
.um .choices .choices__inner {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-color: var(--um-gray-300, #d0d5dd);
  font-size: initial;
  line-height: initial;
  box-shadow: 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
}
.um .choices[data-type*=select-one]::after {
  content: " ";
  mask: url(../icons/chevron-down.svg);
  -webkit-mask: url(../icons/chevron-down.svg);
  width: 20px;
  height: 20px;
  opacity: 1;
  background-color: var(--um-gray-500, #667085);
  border: none;
  margin-top: -10px;
}
.um .choices[data-type*=select-one].is-open::after {
  mask: url(../icons/chevron-up.svg);
  -webkit-mask: url(../icons/chevron-up.svg);
  margin-top: -10px;
}
.um .choices[data-type*=select-one] .choices__inner {
  padding: 8px 12px;
  min-height: auto;
}
.um .choices[data-type*=select-one] .choices__inner .choices__list--single {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.um .choices[data-type*=select-multiple] .choices__inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 8px 12px;
  min-height: auto;
  gap: 8px;
}
.um .choices[data-type*=select-multiple] .choices__inner .choices__list--multiple {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.um .choices[data-type*=select-multiple] .choices__inner .choices__list--multiple .choices__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 6px;
  border: 1px solid var(--um-gray-300, #d0d5dd);
  background: #fff;
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-medium, 500);
  color: var(--um-gray-700, #344054);
  padding: 2px 6px;
  margin: 0;
  gap: 6px;
}
.um .choices[data-type*=select-multiple] .choices__inner .choices__list--multiple .choices__item button {
  background-image: none;
  background-color: var(--um-gray-400, #98a2b3);
  border: none;
  box-shadow: none;
  opacity: 1;
  mask: url(../icons/x.svg);
  -webkit-mask: url(../icons/x.svg);
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  background-size: auto;
}
.um .choices[data-type*=select-multiple] .choices__inner .choices__list--multiple .choices__item button:hover, .um .choices[data-type*=select-multiple] .choices__inner .choices__list--multiple .choices__item button:focus, .um .choices[data-type*=select-multiple] .choices__inner .choices__list--multiple .choices__item button:focus-visible {
  background-color: var(--um-gray-500, #667085);
  border: none;
  box-shadow: none;
  opacity: 1;
}
.um .choices[data-type*=select-multiple] .choices__inner input[type=search] {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.um .choices[data-type*=select-multiple] .choices__inner input[type=search]:hover, .um .choices[data-type*=select-multiple] .choices__inner input[type=search]:focus, .um .choices[data-type*=select-multiple] .choices__inner input[type=search]:focus-visible {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.um .choices.is-focused {
  overflow: visible;
}
.um .choices.is-focused .choices__inner {
  border: 1px solid var(--um-primary-300-bg, #d6bbfb);
  box-shadow: 0 0 0 4px var(--um-primary-500-a-24, rgba(158, 119, 237, 0.24)), 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  background: #fff;
  outline: none;
  overflow: visible;
}
.um .choices .choices__list {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um .choices .choices__list.choices__list--dropdown, .um .choices .choices__list[aria-expanded] {
  top: calc(100% + 4px);
  border-radius: 8px;
  box-shadow: 0 4px 6px -2px var(--um-gray-900-a-3, rgba(16, 24, 40, 0.03)), 0 12px 16px -4px var(--um-gray-900-a-8, rgba(16, 24, 40, 0.08));
  border: 1px solid var(--um-gray-200, #eaecf0);
}
.um .choices .choices__list.choices__list--dropdown > input[type=search].choices__input.choices__input--cloned, .um .choices .choices__list[aria-expanded] > input[type=search].choices__input.choices__input--cloned {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: calc(100% - 16px);
  border-radius: 8px;
  border: 1px solid var(--um-gray-200, #eaecf0);
  background: #fff;
  box-shadow: 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  padding: 8px 12px;
  color: var(--um-gray-900, #101828);
  margin: 8px 8px 0 8px;
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um .choices .choices__list.choices__list--dropdown > input[type=search].choices__input.choices__input--cloned:focus, .um .choices .choices__list.choices__list--dropdown > input[type=search].choices__input.choices__input--cloned:focus-visible, .um .choices .choices__list[aria-expanded] > input[type=search].choices__input.choices__input--cloned:focus, .um .choices .choices__list[aria-expanded] > input[type=search].choices__input.choices__input--cloned:focus-visible {
  border: 1px solid var(--um-gray-200, #eaecf0);
  box-shadow: 0 1px 2px var(--um-gray-900-a-5, rgba(16, 24, 40, 0.05));
  background: #fff;
  outline: none;
}
.um .choices .choices__list.choices__list--dropdown > input[type=search].choices__input.choices__input--cloned:disabled, .um .choices .choices__list[aria-expanded] > input[type=search].choices__input.choices__input--cloned:disabled {
  background: var(--um-gray-50, #f9fafb);
  color: var(--um-gray-500, #667085);
}
.um .choices .choices__list.choices__list--dropdown > input[type=search].choices__input.choices__input--cloned::placeholder, .um .choices .choices__list[aria-expanded] > input[type=search].choices__input.choices__input--cloned::placeholder {
  color: var(--um-gray-500, #667085);
}
.um .choices .choices__list.choices__list--dropdown > .choices__list[role=listbox], .um .choices .choices__list[aria-expanded] > .choices__list[role=listbox] {
  padding: 6px;
}
.um .choices .choices__list.choices__list--dropdown .choices__item.choices__item--choice, .um .choices .choices__list[aria-expanded] .choices__item.choices__item--choice {
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.um .choices .choices__list.choices__list--dropdown .choices__item.choices__item--choice.choices__item--selectable, .um .choices .choices__list[aria-expanded] .choices__item.choices__item--choice.choices__item--selectable {
  color: var(--um-gray-900, #101828);
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um .choices .choices__list.choices__list--dropdown .choices__item.choices__item--choice.choices__item--selectable.is-highlighted, .um .choices .choices__list[aria-expanded] .choices__item.choices__item--choice.choices__item--selectable.is-highlighted {
  background: var(--um-gray-50, #f9fafb);
  border-radius: 6px;
}
.um .choices .choices__list.choices__list--dropdown .choices__item.choices__item--choice.choices__item--selectable.is-selected::after, .um .choices .choices__list[aria-expanded] .choices__item.choices__item--choice.choices__item--selectable.is-selected::after {
  content: " ";
  mask: url(../icons/check.svg);
  -webkit-mask: url(../icons/check.svg);
  width: 20px;
  height: 20px;
  opacity: 1;
  background-color: var(--um-primary-600-bg, #7f56d9);
}