/*
	- image preview
*/

.um-single-image-preview,
.um-single-file-preview {
	display: none;
	width: 100%;
	background: #f5f5f5;
	box-sizing: border-box;
	border: 2px dashed #ddd;
	text-align: center;
	margin: 15px 0 0 0;
	position: relative;
}

.um-single-image-preview a.cancel,
.um-single-file-preview a.cancel {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 999px;
	background: #f5f5f5;
	cursor: pointer;
	opacity: 0.75;
	transition: 0.2s;
	text-decoration: none !important;
}
.um-single-image-preview a.cancel:hover,
.um-single-file-preview a.cancel:hover 
{opacity: 1}

.um-single-image-preview a.cancel i,
.um-single-file-preview a.cancel i {
	font-size: 22px;
	color: #424242;
	vertical-align: middle;
}

.um-single-image-preview img {
	max-width: 100%;
	margin: 0 auto !important;
	max-height: 250px;
	padding: 0 !important;
	display: block !important;
}

/*
	- file preview
*/

.um-single-fileinfo {
	padding: 36px 0 30px 0;
	display: inline-block;
}

.um-single-fileinfo span.icon {
	font-size: 38px;
	display: inline-block;
	width: 100px;
	height: 70px;
	line-height: 70px;
	border-radius: 5px;
	background-color: #666;
	color: #fff !important;
}
.um-single-fileinfo span.icon i {line-height: 1em !important;vertical-align: middle}

.um-single-fileinfo span.filename {
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #666;
	padding: 15px 0 0 0;
}

.um-single-fileinfo a {text-decoration: none !important; opacity: 0.85 }
.um-single-fileinfo a:hover { opacity: 1 }

/*
	- upload progress
*/

.upload-statusbar {
	background: #fff;
	margin: 20px 0 0 0;
}

.upload-filename {
	display: none !important;
}

.upload-progress {
	position: relative;
	width: 100%;
	background: #fff;
	box-sizing: border-box;
}

.upload-bar {
	width: 0;
	height: 12px;
	color: #666;
	background: #3ba1da;
}

/*
	- drag and drop area
*/

.ajax-upload-dragdrop {
	width: 100%;
	text-align: center;
	vertical-align:middle;
	padding: 20px;
	background: #f5f5f5;
	box-sizing: border-box;
	border: 2px dashed #ddd;
	font-size: 18px;
	margin: 15px 0 0 0;
	line-height: 1em;
}

.ajax-upload-dragdrop span.str {
	display: block;
	margin: 0 0 12px 0;
}

.ajax-upload-dragdrop span.icon {
	display: block;
	font-size: 80px;
	line-height: 80px;
	vertical-align: middle;
}

.ajax-upload-dragdrop span.help {
	display: block;
	font-size: 14px;
	color: #aaa;
	margin: 0 0 12px 0;
}

/*
	- upload button
*/

.upload {
	cursor: pointer !important;
	line-height: 34px !important;
	height: 34px;
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	padding: 0 20px;
	color: #fff;
	background: #3ba1da;
	vertical-align: middle;
	font-size: 14px;
	box-sizing: border-box;
	transition: 0.2s;
}
  
.upload:hover {
	background: #44b0ec;
}

.um-form input[type="file"]::-webkit-file-upload-button { cursor: pointer }