/**
 * Ultimate Member modal styles
 */

/* body */

.um-overflow-hidden{
	overflow-x: hidden;
	overflow-y: hidden;
}

/* hidden content */

.um-modal-hidden-content {
	display: none;
}

/* overlay */

.um-modal-overlay {
	background: rgba(0,0,0, 0.85);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
}

/* modal */

.um-modal {
	border-radius: 3px;
	bottom: -50px;
	box-sizing: border-box;
	display: 'block';
	left: 50%;
	margin-left: -170px;
	min-width: 340px;
	opacity: 0;
	overflow: auto;
	position: fixed;
	transition: bottom 0.5s ease-out 0.1s;
	z-index: 100000;
}
.um-modal.large {margin-left: -450px;width: 900px;}
.um-modal.normal {margin-left: -300px;width: 600px;}
.um-modal.small {margin-left: -200px;width: 400px;}

.um-modal * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.um-modal .um-modal-close {
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 24px;
	right: 0;
	text-decoration: none;
	top: 0;
	padding: 0 10px;
	position: fixed;
}

/* modal body */

.um-modal .um-modal-header + .um-modal-body {
	background: #fff;
	box-sizing: border-box;
	min-height: 3px;
	padding: 20px;
	width: 100%;
}

.um-modal .um-modal-body .um-single-image-preview.crop img{
	float:left;
}

.um-modal.loading .um-modal-body{
	background: white url(../img/loading.gif) no-repeat center;
	min-height: 100px;
}

/* modal header and footer */

.um-modal .um-modal-header {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	height: 44px;
	line-height: 44px;
	color: #fff;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 17px;
}
.um-modal .um-modal-footer {
	background-color: #fff;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	padding: 0.5em;
	text-align: right;
}

.um-modal .um-modal-left {
	float: left;
}
.um-modal .um-modal-right {
	float: right;
}

/* modal buttons */

.um-modal .um-modal-btn {
	cursor: pointer;
	line-height: 34px;
	height: 34px;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 20px;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	font-size: 14px;
	box-sizing: border-box;
	transition: 0.2s;
	text-decoration: none;
}
.um-modal .um-modal-btn:hover {
	background: #44b0ec;
	color: #fff;
}

.um-modal .um-modal-btn.alt {
	color: #666;
	background: #eee;
}
.um-modal .um-modal-btn.alt:hover {
	background: #e5e5e5;
}

.um-modal .um-modal-btn.disabled,
.um-modal .um-modal-btn.disabled:hover {
	opacity: 0.5;
	cursor: default;
}