/*
	- Overlay
*/

.um-modal-overlay {
	background: rgba(0,0,0, 0.80);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
}

/*
	- modal
*/

.um-modal * {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

.um-modal-hidden-content {
	display: none;
}

.um-modal {
	border-radius: 3px;
	position: fixed;
	left: 50%;
	display: none;
	z-index: 100010;
	box-sizing: border-box;
	bottom: -50px;
}
.um-modal.normal {width: 500px;margin-left: -250px;}
.um-modal.large {width: 730px;margin-left: -365px;}
.um-modal.small {width: 400px;margin-left: -200px;}

.um-modal-body {
	min-height: 3px;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	border-radius: 0 0 3px 3px;
}

.um-modal.loading .um-modal-body {
	background: #fff url(../img/loading.gif) no-repeat center;
	min-height: 150px;
}

.um-modal div.um {
	margin-bottom: 20px !important;
}

.um-modal-header {
	border-radius: 3px 3px 0 0;
	height: 44px;
	line-height: 44px;
	color: #fff;
	background: #3ba1da;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 17px;
}

.um-modal-footer {
	margin-top: 20px;
}

.um-modal-left {
	float: left;
}

.um-modal-right {
	float: right;
}

.um-modal-btn.disabled,
.um-modal-btn.disabled:hover {
	opacity: 0.5;
	cursor: default !important;
	background: #3ba1da;
}

.um-modal-btn {
	cursor: pointer !important;
	line-height: 34px !important;
	height: 34px;
	display: inline-block;
	border-radius: 3px;
	padding: 0 20px;
	text-align: center;
	color: #fff;
	background: #3ba1da;
	vertical-align: middle;
	font-size: 14px;
	box-sizing: border-box;
	transition: 0.2s;
	text-decoration: none !important;
}

.um-modal-btn:hover {
	background: #44b0ec;
}

.um-modal-btn.alt {
	color: #666;
	background: #eee;
}

.um-modal-btn.alt:hover {
	background: #e5e5e5;
}