/*
	- Profile mode .um alias
*/

.um-profile {
	box-sizing: border-box;
	padding-top: 10px;
}

.um-profile .um-cover-overlay {
	display: none;
}

.um-profile.um-editing .um-cover.has-cover .um-cover-overlay {
	display: block;
}

.um-profile.um-viewing .um-profile-photo-overlay {
	display: none;
}

.um-profile img {display: block;overflow:hidden;border-radius:0;margin: 0}

.um-profile a,
.um-profile a:hover {text-decoration:none !important}

.um-profile .um-profile-body {
	padding-top: 15px;
	max-width: 600px;
	margin: auto;
}

.um-profile.um-editing {
	padding-bottom: 30px;
}

.um-profile.um-viewing .um-field-label {
	display: block;
	margin: 0 0 8px 0;
	color: #999;
	border-bottom: solid 2px #eee;
	padding-bottom: 4px;
}

/*
	- Profile cover
*/

.um-cover {
	background-color: #eee;
	box-sizing: border-box;
	position: relative;
}

.um-cover-add {
	color: #aaa;
	font-size: 36px;
	width: 100%;
	display: table;
}

.um-cover-add span {
	display: table-cell;
	vertical-align: middle;
}

.um-cover-add:hover { color: #3ba1da }

.um-cover-e {
	text-align: center;
	box-sizing: border-box;
}

.um-cover-e img {width: 100% !important}

.um-cover-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	text-align: center;
	box-sizing: border-box;
	padding: 0 40px;
	color: #fff;
	text-shadow: 0 1px #666;
	cursor: pointer !important;
	line-height: 21px;
	font-size: 16px;
	height: 100%;
	width: 100%;
}

.um-cover-overlay:hover {
	background: rgba(0,0,0,.55);
}

.um-cover-overlay span.um-cover-overlay-s {
	display: table;
	height: 100%;
	width: 100%;
}

.um-cover-overlay ins {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	text-decoration: none !important;
}

.um-cover-overlay i {
	font-size: 46px;
	display: block;
	margin-bottom: 6px;
}

/*
	- Profile header
*/

.um-header {
	position: relative;
	padding: 0 0 25px 0;
	border-bottom: solid 2px #eee;
	min-height: 85px;
}

.um-profile-edit {
	position: absolute;
	top: 15px;
	right: 0;
	vertical-align: middle;
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	z-index: 666;
}

/*
	- Header without cover enabled
*/

.um-header.no-cover .um-profile-meta {
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center !important;
}

.um-header.no-cover .um-name { 
	float: none !important;
	margin-right: 0 !important;
}

.um-header.no-cover .um-profile-photo {
	float: none !important;
	margin: 0 auto !important;
	text-align: center !important;
	padding-top: 20px !important;
}

.um-header.no-cover a.um-profile-photo-img {
	position: relative !important;
	top: auto !important;
	left: auto !important;
	float: none !important;
	width: auto !important;
	height: auto !important;
	display: inline-block !important;
	text-align: center !important;
}

.um-header.no-cover .um-main-meta {padding: 0;}

/*
	- Profile photo
*/

.um-profile-photo {
	float: left;
	position: relative;
}

.um-profile-photo a.um-profile-photo-img {
	float: left;
	position: absolute;
	background: #fff;
	padding: 5px;
	left: 30px;
}

.um-profile-photo a.um-profile-photo-img img {
	width: 100%;
	height: 100%;
}

.um-profile-photo-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	text-align: center;
	box-sizing: border-box;
	padding: 0 40px;
	color: #fff;
	text-shadow: 0 1px #666;
	cursor: pointer !important;
	line-height: 21px;
	font-size: 16px;
	height: 100%;
	width: 100%;
}

.um-profile-photo-overlay:hover {
	background: rgba(0,0,0,.55);
}

.um-profile-photo-overlay span.um-profile-photo-overlay-s {
	display: table;
	height: 100%;
	width: 100%;
}

.um-profile-photo-overlay ins {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	text-decoration: none !important;
}

.um-profile-photo-overlay i {
	font-size: 46px;
	display: block;
	margin-bottom: 6px;
}

/*
	- Profile meta
*/

.um-profile-meta {
	padding-right: 30px;
}

.um-main-meta {
	padding: 10px 0 0 0;
}

.um-name {
	float: left;
	font-size: 24px;
	font-weight: bold;
	margin-right: 30px;
}

.um-meta {
	font-size: 15px;
}

.um-meta span:first-child {margin: 0 5px 0 0}
.um-meta span {
	margin: 0 5px;
	font-size: 14px;
	display: inline-block;
}

.um-meta-text {
	margin: 6px 0 0 0;
	color: #666;
}

.um-profile-status {display:none}
.um-profile-status.awaiting_admin_review,
.um-profile-status.inactive,
.um-profile-status.rejected {
	display: inline-block;
	margin: 6px 0 0 0;
	border-left: 3px solid #C74A4A;
	padding-left: 10px;
	font-size: 14px;
	color: #777;
}