/*
	- Layout
*/

.um {
	width: 100%;
	text-align: left;
	box-sizing: border-box;
	color: #666;
	font-size: 15px;
	margin-bottom: 30px !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	opacity: 0;
}

.um-s1,
.um-s2 {
	display: none;
}

.um *,
.um *:before,
.um *:after {
	box-sizing: content-box;
}

.um-header a,
.um-cover a,
.um-member-photo a,
.um-member-name a,
.um-member-more a,
.um-member-less a,
.um-members a,
.um-account-side li a,
.um-members-pagi span,
.um-members-pagi a,
.um-field-value a
{
	border-bottom: 0 !important;
}

.um a:focus,
.um-modal a:focus {
	outline: 0 !important;
}

.um a .image-overlay,
.um a:hover .image-overlay,
.um a:hover .image-overlay * {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
	position: static !important;
}

/* only in admin mode */
.um.um-in-admin {
	padding-top: 0;
}
.um.um-in-admin .um-tip {display: none !important}

.um input,
.um select,
.um textarea{
	font-size: 15px;
}

.um * {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

.um-left {float: left}

.um-right {float: right}

.um-clear {clear: both}

.um-center {text-align: center}
.um-center .um-button {
	display: inline-block !important;
	width: auto !important;
	min-width: 250px !important;
}

.um-half { width: 48%}

.um-field-half {width: 48%;float: left}

.um-field-half.right {float: right}

.um-field-tri {
	width: 30%;
	float: left;
	margin-right: 3%;
}

.um img {box-shadow: none !important}

.um-col {padding-bottom: 20px}
.um-col-alt {margin: 0 0 5px 0}
.um-col-alt-s {padding-top: 10px}
.um-col-alt-b {padding-top: 20px}

.um-col-121 {float: left;width: 48%}

.um-col-122 {float: right;width: 48%}

.um-col-131 {float: left;width: 30%}

.um-col-132 {float: left;width: 30%;margin: 0 5%}

.um-col-133 {float: left;width: 30%}

/*
	- Font Icons
*/

.um-raty i {font-size: 26px}

.um-field-half .um-raty i {font-size: 21px}

.um-field-tri .um-raty i {font-size: 21px}

.um-button i {
    font-size: 22px;
    width: 22px;
    height: 12px !important;
    display: inline-block;
    line-height: 12px !important;
    vertical-align: middle !important;
    position: relative;
    top: -6px;
    margin-right: 8px;
}

/*
	- Row general css
*/

.um-row-heading {
	padding: 5px 0;
	font-size: 16px;
}

.um-row-heading i {
	font-size: 24px;
	height: 24px;
	line-height: 24px;
	margin: 0 12px 0 0;
	display: inline-block;
	width: 30px;
	text-align: center;
}

.um-row-heading i:before {
	vertical-align: middle !important;
}

/*
	- Notices
*/

p.um-notice {
	width: auto;
	color: #fff;
	box-sizing: border-box;
	font-size: 15px;
	padding: 12px !important;
	margin: 12px 0 0 0 !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}

p.um-notice i {
    position: absolute;
    right: 14px;
    font-size: 36px;
    cursor: pointer;
    top: 7px;
    display: block;
    height: 30px;
    line-height: 30px;
}

p.um-notice.success {
	background: #7ACF58;
}

p.um-notice.err {
	background: #C74A4A;
}

p.um-notice.warning {
	background: #f9f9d1;
	color: #666;
	border: 1px solid #efe4a2;
	padding: 8px 15px !important;
}

/*
	- Errors
*/

.um-field-error {
	width: auto;
	max-width: 100%;
	background: #C74A4A;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	box-sizing: border-box;
	position: relative;
	padding: 12px;
	font-size: 14px;
	line-height: 20px !important;
	margin: 12px 0 0 0;
}

.um-field-error a{color: #fff !important;text-decoration: underline !important}

.um-field-arrow {
	top: -17px;
	left: 10px;
	position: absolute;
	z-index: 900;
	color: #C74A4A;
	font-size: 28px;
	line-height: 1em !important;
}

.um-error-block {
	width: auto;
	max-width: 100%;
	background: #C74A4A;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	box-sizing: border-box;
	position: relative;
	padding: 12px;
	font-size: 14px;
	line-height: 1em !important;
	margin: 12px 0 0 0;
}

/*
	- Help tooltips
*/

.um-tip {
	margin: 0 0 0 8px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	top: 3px;
}

.um-tip i {
	font-size: 22px;
	height: 22px;
	line-height: 22px;
	display: block;
	position: relative;
}

.um-tip-text {
	display: block;
	font-size: 13px;
	line-height: 15px;
	color: #999;
}

/*
	- Forms & Fields
*/

.um-form button::-moz-focus-inner,
.um-form input::-moz-focus-inner {
	border: 0 !important;
	padding: 0 !important;
}

.um-field {
	position: relative;
	padding: 15px 0 0 0;
}

.um-field-b, .um-field-c {
	padding-top: 0 !important;
}

.um-field.um-is-conditional {
	display: none;
}

.um-field-label {
	display: block;
	margin: 0 0 8px 0;
}

.um-field-label .um-field-label-icon {
	float: left;
	margin: 0 8px 0 0;
	height: 22px;
	line-height: 18px;
	display: inline-block;
	width: 24px;
	text-align: center;
}
.um-field-label .um-field-label-icon i { font-size: 22px; position: relative; top: 1px; }

.um-field-label label {
	font-size: 15px !important;
	line-height: 22px !important;
	font-weight: bold;
	font-weight: 600;
}

.um-field-area {
	position: relative;
	word-wrap: break-word;
}

.um-field-value p {
	margin: 0 0 6px 0 !important;
	padding: 0;
}

.um-field-block {
	color: #777;
	font-size: 17px;
}

.um-field-shortcode {

}

.um-field-spacing {
	width: 100%;
}

.um-field-divider {
	width: 100%;
	margin: 0 0 12px 0;
	height: 24px;
	position: relative;
}

.um-field-divider-text {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: -24px;
	left: 0;
	font-size: 16px;
	padding: 10px 0;
}

.um-field-divider-text span {
	background: #fff;
	color: #555;
	display: inline-block;
	padding: 0 15px;
}

.um-field-icon {
	position: absolute;
	cursor: default;
	text-align: center !important;
	top: 2px;
	left: 0;
	width: 44px;
	font-size: 22px;
	line-height: 1.7em;
}

.um-form input[type=text],
.um-form input[type=number],
.um-form input[type=password] {
	padding: 0 12px !important;
	width: 100%;
	display: block !important;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	outline: none !important;
	cursor: text !important;
	font-size: 15px !important;
	height: 40px !important;
	box-sizing: border-box !important;
	box-shadow: none !important;
	margin: 0 !important;
	position: static;
	outline: none !important;
}

.um-form input[type=number] {
	width: auto;
	padding: 0 0 0 5px !important;
	height: 30px !important;
}

.um-form input[type=text]:focus,
.um-form input[type=number]:focus,
.um-form input[type=password]:focus,
.um-form textarea:focus {
	box-shadow: none !important;
	outline: none !important;
}

.um-form input[type=text].um-iconed,
.um-form input[type=password].um-iconed { padding-left: 44px !important }

.um-form input[type=text].um-error,
.um-form input[type=password].um-error { border-color: #C74A4A !important }

.um-form textarea {
	width: 100%;
	padding: 8px 12px !important;
	display: block;
	font-size: 15px !important;
	line-height: 22px !important;
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-sizing: border-box;
	min-height: 80px !important;
	box-shadow: none;
	outline: none !important;
}

.um-form .wp-editor-container {
	border: 1px solid #ddd;
}

.um-form .wp-editor-container textarea {
	background: #ddd !important;
	color: #222 !important;
	border-radius: 0;
}

/*
	- Radio & Checkboxes
*/

.um-field-c .um-field-checkbox {
	margin: 0 !important;
	position: relative;
	top: -14px;
}

.um-field-checkbox,
.um-field-radio {
	display: block;
	margin: 8px 0;
	position: relative;
	cursor: pointer !important;
}

.um-field-checkbox:hover i, .um-field-radio:hover i {color: #666}

.um-field-checkbox input,
.um-field-radio input{
	opacity: 0 !important;
	display: inline !important;
	width: 0 !important;
	float: left;
}

.um-field-checkbox-state,
.um-field-radio-state {
	position: absolute;
	top: 0;
	left: 1px;
	width: 24px;
	height: 24px;
}

.um-field-checkbox-state i,
.um-field-radio-state i {
	font-size: 24px;
	line-height: 24px;
	height: 24px;
	color: #aaa;
	transition: all .2s linear;
}

.um-field-checkbox-option,
.um-field-radio-option {
	margin: 0px 0px 0px 36px;
	line-height: 24px;
	color: #888 !important;
	display: block;
}

/*
	- Group of Fields
*/

.um-field-group {
	margin-top: 20px;
}

.um-field-group-head {
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	line-height: 22px;
	padding: 10px 20px;

	transition: 0.25s;
	box-sizing: border-box;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	border-top: 1px solid rgba(0,0,0,0.0) !important;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;
}

.um-field-group-head i {
	font-size: 20px;
	margin: 0 8px 0 0;
}

.um-field-group-head i:before {
	vertical-align: middle !important;
}

.um-field-group-body {
	display: none;
	margin: 15px 0 0 0;
	padding: 15px 20px 5px 20px;
	background: #f9f9f9;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	box-sizing: border-box;
	width: 100%;
}

.um-field-group-body div.um-field {
	padding: 0 0 15px 0;
}

.um-field-group-cancel {
	font-size: 18px;
	position: absolute;
	z-index: 800;
	right: 8px;
	top: 8px;
	color: #ccc !important;
	text-decoration: none !important;
}
.um-field-group-cancel:hover {color: #777 !important}

/*
	- Buttons
*/

.um div.disabled,
.um-disabled,
.um input[type=submit]:disabled,
.um input[type=text]:disabled,
.um input[type=number]:disabled {
	opacity: 0.6 !important;
	cursor: no-drop !important;
}

input[type=submit].um-button,
input[type=submit].um-button:focus {
	vertical-align: middle !important;
	height: auto !important;
	font-size: 15px;
	cursor: pointer !important;
	width: 100%;
	box-shadow: none;
	text-shadow: none;
	font-family: inherit;
	outline: none !important;
	margin: 0;
	opacity: 1;
	-webkit-appearance: none;
}

input[type=submit].um-button:hover {
	opacity: 1;
}

.um-button {
	font-size: 15px;
	border: none !important;
	display: block;
	width: 100%;
	line-height: 1em !important;
	padding: 16px 20px !important;
	text-decoration: none !important;
	text-align: center;
	text-transform: none !important;
	font-weight: normal !important;
	overflow: hidden;
	position: relative;

	transition: 0.25s;
	box-sizing: border-box;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	border-top: 1px solid rgba(0,0,0,0.0) !important;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1) !important;
	opacity: 1;
}


.um-button.um-btn-auto-width {
	width: auto;
	display: inline-block;
	padding: 14px 20px !important;
	min-width: 200px;
	max-width: 450px;
}

a.um-link-alt {
	line-height: 22px;
	color: #888 !important;
	display: block !important;
	text-decoration: none !important;
	font-weight: normal;
	text-align: center;
	border-bottom: none !important;
}
a.um-link-alt:hover {text-decoration: underline !important;}

/*
	- Dropdown menu
*/

.um-dropdown {
	position: absolute;
	height: auto;
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 10;
	display: none;
    border: 1px solid #e5e5e5;
	box-sizing: border-box;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.1);
	box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.um-dropdown ul,
.um-dropdown li {
	list-style-type: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

.um-dropdown li  a {
	display: block;
	padding: 8px 12px;
	color: #666;
	font-size: 14px;
	line-height: 18px;
}

.um-dropdown li:last-child a {
	border-top: 1px solid #e5e5e5;
	padding: 12px;
}

.um-dropdown li  a:hover {

}

.um-dropdown-b {
	position: relative;
}

.um-dropdown-arr {
	position: absolute;
	color: #fff;
	font-size: 24px;
	width: 24px;
	height: 24px;
	overflow: hidden;
	z-index: 15;
	color: #eee;
}

.um-dropdown-arr * { display: block !important; width: 24px !important; height: 24px !important; vertical-align: bottom !important; overflow: hidden !important; line-height: 24px !important; }

/*
	- Misc.
*/

div.um-photo {
	margin: 20px auto 0 auto;
	text-align: center;
	box-sizing: border-box;
	max-width: 100%;
}

div.um-photo,
div.um-photo a,
div.um-photo img {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div.um-photo a {
	border: 1px solid #e5e5e5;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
	box-shadow: 0 1px 1px #eee;
	margin: 0 auto;
	max-width: 100%;
}

div.um-photo img {max-height: 300px; max-width: 100%;}

/*
	- other form styles
*/

span.um-req {
	margin: 0 0 0 8px;
	font-size: 14px;
	display: inline-block;
}


/**
 * UM Select2.js
 */
.um-form .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 2px;
}
.um-form  .select2-container .select2-selection {
    display: block !important;
    height: 40px !important;
    padding: 0 0 0 12px !important;
    overflow: hidden !important;
     white-space: nowrap !important;
    line-height: 40px !important;
    color: #666 !important;
    font-size: 15px !important;
    text-align: left !important;
    text-decoration: none !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    border-radius: 2px !important;
    background-clip: padding-box !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none !important;
    background-color: #fff !important;
    font-weight: normal;
}

.um-form  .select2-container .select2-selection .select2-arrow {
    display: inline-block !important;
    width: 34px !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    -moz-border-radius: 0 2px 2px 0 !important;
    -webkit-border-radius: 0 2px 2px 0 !important;
    border-radius: 0 2px 2px 0 !important;
    background-clip: padding-box !important;
    text-align: center !important;
    background: transparent !important;
    border-left: 0 !important;
}
.um-form  .select2-selection__clear,
.um-form  .select2-selection__arrow{
	 	font-size: 32px !important;
     	line-height: 40px;
      	display: inline-block !important;
      	color: #aaa;
      	font-weight: normal !important;
}
.um-form  .select2-selection__arrow b[role=presentation]{
	display:none;
}
.um-form .select2-selection__arrow:before {
    content: "\f3d0" !important;
    font-size: 27px !important;
    font-family: "Ionicons" !important;
    width: 100% !important;
    display: block;
    line-height: 40px;
}
.um-form .select2-selection__clear{
	content: '';
}
.um-form .select2-selection__clear:before{
    content: "\f2d7" !important;
    font-size: 22px !important;
    font-family: "Ionicons" !important;
    right: 4px !important;
    position: relative !important;
    display: block;
    width: 100%;
    line-height: 40px;
}
.um-form  .select2-container .select2-selection--single .select2-selection__rendered{
		padding-left: 0px !important
}

.um-form .select2-container--default .select2-selection__clear:before {
    right: 0!important;
    line-height: 40px;
}

/** Multi-select */
.um-form .select2-selection.select2-selection--multiple .select2-choices {
    height: auto !important;
    height: 1% !important;
    margin: 0 !important;
    padding: 1px 3px !important;
    position: relative !important;
    cursor: text !important;
    overflow: hidden !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    border-radius: 2px !important;
    box-shadow: none !important;
}

.um-form .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	padding: 0px 5px;
    margin: 3px 0 4px 5px !important;
    position: relative;
    line-height: 27px;
    font-size: 14px;
    color: #666;
    cursor: default;
    border: 1px solid #dddddd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none !important;
    background-color: #f9f9f9 !important;
}

.um-form .select2-selection__clear:before {
   right: 0px!important;
   line-height: 28px;
}
.um-form .select2-selection.select2-selection--multiple{
	border: 2px solid #ddd !important;
}
.um-form .select2-selection.select2-selection--multiple .select2-selection__choice__remove{
    font-size: 16px !important;
    right: 0 !important;
    line-height: 23px !important;
}
.um-form .select2-container--default .select2-selection--multiple .select2-selection__clear {
    display:none !important;
}
.um-form .select2-container .select2-selection.select2-selection--multiple{
	overflow: visible !important;
    padding: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 36px;
}
.select2-results .select2-no-results, 
.select2-results .select2-searching, 
.select2-results .select2-selection-limit,
.select2-results .select2-results__options .select2-results__option {
    display: list-item !important;
    padding: 5px !important;
    font-size: 15px !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.select2-results .select2-results__option--highlighted{
    list-style: none;
    display: list-item;
    background: #f4f4f4 !important;
    font-size: 15px !important;
    margin: 0!important;
   	padding: 3px 7px 4px !important;
    color: #666 !important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
	background: #f4f4f4 !important;
}

.select2-container--open .select2-dropdown--above,
.select2-container--open .select2-dropdown--below{
	padding: 5px!important;
    margin-top: 35px !important;
    border: 2px solid #f4f4f4;
}

/**
 * UM Pickadate.js
 */
/**
 * Note: the root picker element should *NOT* be styled more than whatâ€™s here.
 */
.um-form .picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #fff;
  position: absolute;
  z-index: 10000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * The picker input element.
 */
.um-form .picker__input {
  cursor: default;
}
/**
 * When the picker is opened, the input element is â€œactivatedâ€.
 */
.um-form .picker__input.picker__input--active {
  border-color: #0089ec;
}
/**
 * The holder is the only â€œscrollableâ€ top-level container element.
 */
.um-form .picker__holder {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should *NOT* be styled more than whatâ€™s here.
 */
/**
 * Make the holder and frame fullscreen.
 */
.um-form .picker__holder,
.um-form .picker__frame {
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
}
/**
 * The holder should overlay the entire screen.
 */
.um-form .picker__holder {
  position: fixed;
  -webkit-transition: background 0.15s ease-out, top 0s 0.15s;
  -moz-transition: background 0.15s ease-out, top 0s 0.15s;
  transition: background 0.15s ease-out, top 0s 0.15s;
}
/**
 * The frame that bounds the box contents of the picker.
 */
.um-form .picker__frame {
  position: absolute;
  margin: 0 auto;
  min-width: 256px;
  max-width: 400px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
@media (min-height: 33.875em) {
  .um-form .picker__frame {
    overflow: visible;
    top: auto;
    bottom: -100%;
    max-height: 80%;
  }
}
@media (min-height: 40.125em) {
	.um-form .picker__frame {
		margin-bottom: 15% !important;
	}
}
/**
 * The wrapper sets the stage to vertically align the box contents.
 */
.um-form .picker__wrap {
  display: table;
  width: 100%;
  height: 100%;
}
@media (min-height: 33.875em) {
  .um-form .picker__wrap {
    display: block;
  }
}
/**
 * The box contains all the picker contents.
 */
.um-form .picker__box {
  display: table-cell;
  vertical-align: middle;
}
@media (min-height: 26.5em) {
  .um-form .picker__box {

  }
}
@media (min-height: 33.875em) {
  .um-form .picker__box {
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}
@media (min-height: 40.125em) {
  .um-form .picker__box {

    border-bottom-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}
/**
 * When the picker opens...
 */
.um-form .picker--opened .picker__holder {
  top: 0;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
  zoom: 1;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: background 0.15s ease-out;
  -moz-transition: background 0.15s ease-out;
  transition: background 0.15s ease-out;
}
.um-form .picker--opened .picker__frame {
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
@media (min-height: 33.875em) {
  .um-form .picker--opened .picker__frame {
    top: auto;
    bottom: 0;
  }
}

/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/**
 * The picker box.
 */
.um-form .picker__box {

}
/**
 * The header containing the month and year stuff.
 */
.um-form .picker__header {
  text-align: center;
  position: relative;
  margin-top: .75em;
  border-radius: 2px 2px 0 0;
  padding: 15px 0;
  font-size: 18px;
}
/**
 * The month and year labels.
 */
.um-form .picker__month,
.um-form .picker__year {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.um-form .picker__year {

}
/**
 * The month and year selectors.
 */
.um-form .picker__select--month,
.um-form .picker__select--year {
  margin-left: .25em;
  margin-right: .25em;
  font-size: 16px;
  color: #999;
  background: #fff !important;
  outline: 0 !important;
  border: 0 !important;
}
@media (min-width: 24.5em) {
  .um-form .picker__select--month,
  .um-form .picker__select--year {
    margin-top: -0.5em;
  }
}
.um-form .picker__select--month {
  width: 35%;
}
.um-form .picker__select--year {
  width: 22.5%;
}
.um-form .picker__select--month:focus,
.um-form .picker__select--year:focus {

}
/**
 * The month navigation buttons.
 */
.um-form .picker__nav--prev,
.um-form .picker__nav--next {
  position: absolute;
  padding: .5em 1.25em;
  width: 1em;
  height: 1em;
  box-sizing: content-box !important;
  top: 8px;
  color: #fff;
}
@media (min-width: 24.5em) {
  .um-form .picker__nav--prev,
  .um-form .picker__nav--next {

  }
}
.um-form .picker__nav--prev {
  left: 0;
  padding-right: 1.25em;
}
@media (min-width: 24.5em) {
  .um-form .picker__nav--prev {
    padding-right: 1.5em;
  }
}
.um-form .picker__nav--next {
  right: 0;
  padding-left: 1.25em;
}
@media (min-width: 24.5em) {
  .um-form .picker__nav--next {
    padding-left: 1.5em;
  }
}
.um-form .picker__nav--prev:before,
.um-form .picker__nav--next:before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  
  border-right: 0.5em solid #fff;
  
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto;
}
.um-form .picker__nav--next:before {
  border-right: 0;
  
  border-left: 0.5em solid #fff;
  
}
.um-form .picker__nav--prev:hover,
.um-form .picker__nav--next:hover {
  cursor: pointer;
  color: #fff;
}
.um-form .picker__nav--disabled,
.um-form .picker__nav--disabled:hover,
.um-form .picker__nav--disabled:before,
.um-form .picker__nav--disabled:before:hover {
  cursor: default;
  background: none;
}

/**
 * The calendar table of dates
 */
.um-form .picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: 5px;
  border: none;
  margin-bottom: 0;
}
@media (min-height: 33.875em) {
  .um-form .picker__table {

  }
}

.um-form .picker__table th {

}

.um-form .picker__table td {
  margin: 0;
  padding: 0px 10px;
  text-align: center;
  border: 0;
}
/**
 * The weekday labels
 */
.um-form .picker__weekday {
  width: 14.285714286%;
  color: #fff;
  text-align: center;
  padding: 5px 0 !important;
  /* Increase the spacing a tad */
}
@media (min-height: 33.875em) {
  .um-form .picker__weekday {
  
  }
}
/**
 * The days on the calendar
 */
.um-form .picker__day {
  padding: 10px 0;
  line-height: 1em !important;
}
.um-form .picker__day--today {
  position: relative;
}
.um-form .picker__day--outfocus {
	opacity: 0.75;
}
.um-form .picker__day--infocus:hover,
.um-form .picker__day--outfocus:hover {
  border-radius: 2px;
  cursor: pointer;
}

.um-form .picker__day--highlighted {

}
.um-form .picker__day--highlighted:hover,
.um-form .picker--focused .picker__day--highlighted {
  border-radius: 2px;
}

.um-form .picker__day--selected,
.um-form .picker__day--selected:hover,
.um-form .picker--focused .picker__day--selected {

}
.um-form .picker__day--disabled,
.um-form .picker__day--disabled:hover {
  cursor: default;
  background: transparent !important;
  opacity: 0.3;
}
.um-form .picker__day--highlighted.picker__day--disabled,
.um-form .picker__day--highlighted.picker__day--disabled:hover {

}

/**
 * The footer containing the "today" and "clear" buttons.
 */
.um-form .picker__footer {
  text-align: center;
  height: 50px !important;
  line-height: 50px !important;
  margin-top: 5px;
  border-radius: 0 0 2px 2px;
}
.um-form .picker__button--today,
.um-form .picker__button--clear {
  width: 50%;
  display: inline-block;
  background: none !important;
  box-shadow: none !important;
  border: 0!important;
  outline: 0 !important;
  box-sizing: border-box !important;
}
.um-form .picker__button--today:hover,
.um-form .picker__button--clear:hover,
.um-form .picker__button--today:focus,
.um-form .picker__button--clear:focus {
	cursor: pointer;
}

/* ==========================================================================
   $BASE-TIME-PICKER
   ========================================================================== */
/**
 * The list of times.
 */
.um-form .picker__list {
  list-style: none;
  list-style: none !important;
  padding: 5px !important;
  margin: 0px !important;
}

/**
 * The times on the clock.
 */
.um-form .picker__list-item {
  position: relative;
  border-radius: 2px;
  display: inline-block;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  padding: 6px 0px !important;
  margin: 5px 0 !important;
} 

@media (min-height: 46.75em) {
  .um-form .picker__list-item {

  }
}

/* Hovered time */
.um-form .picker__list-item:hover {
  cursor: pointer;
  z-index: 10;
}
/* Highlighted and hovered/focused time */
.um-form .picker__list-item--highlighted {
  z-index: 10;
}

.um-form .picker__list-item--highlighted:hover,
.um-form .picker--focused .picker__list-item--highlighted {
  cursor: pointer;
   font-weight: bold;
}

/* Selected and hovered/focused time */
.um-form .picker__list-item--selected,
.um-form .picker__list-item--selected:hover,
.um-form .picker--focused .picker__list-item--selected {
  z-index: 10;
}

/* Disabled time */
.um-form .picker__list-item--disabled,
.um-form .picker__list-item--disabled:hover,
.um-form .picker--focused .picker__list-item--disabled {
  color: #a9e792;
  cursor: default;
  background: transparent;
  z-index: auto;
}

/**
 * The clear button
 */
.um-form .picker--time .picker__button--clear {
  width: 100%;
  display: inline-block;
  background: none;
  box-shadow: none !important;
  border: 0!important;
  outline: 0 !important;
  background: none !important;
  border-radius: 0 0 2px 2px;
  color: #fff !important;
}
.um-form .picker--time .picker__button--clear:hover,
.um-form .picker--time .picker__button--clear:focus {
	cursor: pointer;
}

/* ==========================================================================
   $DEFAULT-TIME-PICKER
   ========================================================================== */
/**
 * The frame the bounds the time picker.
 */
.um-form .picker--time .picker__frame {
  min-width: 256px;
  max-width: 400px;
}
/**
 * The picker box.
 */
.um-form .picker--time .picker__box {
  font-size: 15px;
  padding: 0;
  border-radius: 2px !important;
}
@media (min-height: 40.125em) {
	.um-form .picker--time .picker__frame {
		margin-bottom: 10% !important;
	}
}