#um-metaboxes-general h1 sup {
  font-size: 14px;
  position: relative;
  font-weight: 400;
  background: #0085ba;
  color: #fff !important;
  padding: 2px 4px !important;
  border-radius: 3px;
  top: 5px;
  left: 3px;
  border: none !important; }

#um-metaboxes-general.wrap a.red,
#um-metaboxes-general.wrap span.red {
  color: #c74a4a; }

#um-metaboxes-general.wrap span.ok {
  color: #7acf58; }

.um-metabox-holder p.sub {
  padding: 0 4px 2px 4px;
  margin: 0 0 8px 0;
  color: #8F8F8F;
  font-size: 14px;
  border-bottom: 1px solid #ECECEC; }

.um-metabox-holder .table {
  float: left;
  width: 45%; }
  .um-metabox-holder .table td {
    white-space: nowrap;
    font-size: 12px; }

.um-metabox-holder a.warning {
  color: #c74a4a !important;
  background: transparent !important;
  border: 0; }

.um-metabox-holder .table_right {
  float: right;
  width: 45%; }

.um-metabox-holder td.b {
  padding-right: 6px;
  text-align: right;
  font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size: 14px;
  width: 1%; }
  .um-metabox-holder td.b a {
    font-size: 18px; }

.um-metabox-holder .norm i {
  display: inline-block;
  width: 30px;
  text-align: center; }

.um-metabox-holder .norm p {
  margin: 5px 0; }

.um-metabox-holder .norm .count {
  font-size: 16px;
  font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  color: #999;
  width: 40px;
  display: inline-block;
  text-align: right;
  margin-right: 10px; }
