.um-admin.post-type-um_directory .wp-list-table.posts .manage-column.column-id {
  width: 60px;
}
.um-admin.post-type-um_directory .wp-list-table.posts .manage-column.column-shortcode {
  width: 35%;
}
.um-admin.post-type-um_directory .wp-list-table.posts .column-is_default {
  width: 120px;
  text-align: center !important;
}

@media screen and (max-width: 782px) {
  .um-admin.post-type-um_directory .wp-list-table.posts td.column-is_default {
    text-align: left !important;
  }
}