.um-admin.post-type-um_form .manage-column.column-id {
  width: 60px;
}
.um-admin.post-type-um_form .manage-column.column-mode {
  width: 100px;
}
.um-admin.post-type-um_form .manage-column.column-is_default {
  width: 60px;
}
.um-admin.post-type-um_form .manage-column.column-title {
  width: 200px;
}
.um-admin.post-type-um_form .manage-column.column-shortcode {
  width: 200px;
}
.um-admin.post-type-um_form td.column-shortcode, .um-admin.post-type-um_form td.column-id {
  font-size: 14px;
}