.um-form-fields-section
  padding: 0 0 0 10px
  float: right
  label
    input
      float: right

//.select2-container
//  .select2-choice
//    & > .select2-chosen
//      text-align: right !important
//      margin-right: 10px !important
//      margin-left: 26px !important
//    .select2-arrow
//      border: none !important
//      right: auto !important
//      left: 0 !important
