@import "selectors"

.wp-admin
  p.#{$prefix}nav-roles
    display: none
    margin-top: 5px
    label
      margin-top: 2px !important
      margin-bottom: 2px !important
      input[type="checkbox"]
        margin-top: 2px !important
  p.#{$prefix}nav-mode
    margin-top: 10px
