.um-admin.users-php .um_account_status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.um-admin.users-php .um_account_status span {
  margin: 0 0 2px 0;
  padding: 0;
}
.um-admin.users-php .um_account_status ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 0;
  margin: 0 0 4px 0;
  padding: 0;
}
.um-admin.users-php .um_account_status ul li {
  margin: 0;
  padding: 0;
}
.um-admin.users-php .um_account_status ul li a.um-set-status-rejected, .um-admin.users-php .um_account_status ul li a.um-deactivate-user {
  color: #b32d2e;
}
.um-admin.users-php .um_account_status ul li a.um-set-status-rejected:active, .um-admin.users-php .um_account_status ul li a.um-set-status-rejected:hover, .um-admin.users-php .um_account_status ul li a.um-deactivate-user:active, .um-admin.users-php .um_account_status ul li a.um-deactivate-user:hover {
  color: #b32d2e;
}

.um-admin.users-php .subsubsub li.subsep {
  display: block;
  visibility: hidden;
  height: 0;
}

.um-admin-modal .um-admin-infobox label {
  font-weight: bold;
  display: block;
  color: #333;
  cursor: default;
}
.um-admin-modal .um-admin-infobox p {
  color: #666;
  padding-top: 15px;
}
.um-admin-modal .um-admin-infobox > p:not(:first-child) {
  border-top: 1px solid #e5e5e5;
}
.um-admin-modal .um-admin-infobox > p:first-child {
  margin-top: 0;
  padding-top: 0;
}
.um-admin-modal .um-admin-infobox > .um-row > p {
  border-top: 1px solid #e5e5e5;
}
.um-admin-modal .um-admin-infobox > .um-row > p:last-child {
  margin-bottom: 0;
}

#UM_preview_registration .um-admin-modal-foot {
  display: none;
}