.um-modal-tabs {
  display: inline;
  width: 100%;
  margin: 0; }
  .um-modal-tabs .um-modal-tab {
    display: inline; }
    .um-modal-tabs .um-modal-tab:first-child a {
      margin: 0 10px 0 0; }
    .um-modal-tabs .um-modal-tab.active a {
      font-weight: bold; }
    .um-modal-tabs .um-modal-tab a {
      margin: 0 10px;
      outline: none;
      box-shadow: none; }
      .um-modal-tabs .um-modal-tab a:hover, .um-modal-tabs .um-modal-tab a:active, .um-modal-tabs .um-modal-tab a:focus {
        outline: none;
        box-shadow: none; }

.um-modal-tabs-content-wrapper {
  width: 100%;
  margin: 5px 0 0 0; }
  .um-modal-tabs-content-wrapper .um-modal-tab-content {
    width: 100%;
    display: none; }
    .um-modal-tabs-content-wrapper .um-modal-tab-content.active {
      display: block; }
