@import "../forms.sass"

.um
  &.#{$prefix}login
    .#{$prefix}notice
      margin: 0 0 12px 0 !important

    #loginform
      p.login-username, p.login-password
        margin: 0 0 15px 0
        padding: 0
        +flex( column, flex-start, stretch, nowrap )
        label
          &:after
            content: ':'
        input
          margin: 0
      .g-recaptcha
        +flex( row, center, center, nowrap )
        margin-bottom: 15px
      p.login-remember
        +flex( row, left, center, nowrap )
        float: left
        label
          +flex( row, flex-start, center, nowrap )
          #rememberme
            margin-right: 5px
      p.login-submit
        +flex( row, right, center, nowrap )
