.um.um-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  row-gap: 16px;
}
.um.um-profile .um-profile-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  row-gap: 12px;
}
.um.um-profile .um-profile-header .um-avatar {
  border: 4px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0 4px 6px -2px var(--um-gray-900-a-3, rgba(16, 24, 40, 0.03)), 0 12px 16px -4px var(--um-gray-900-a-8, rgba(16, 24, 40, 0.08));
}
.um.um-profile .um-profile-header .um-cover-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um.um-profile .um-profile-header .um-cover-wrapper .um-cover-photo {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.um.um-profile .um-profile-header .um-cover-wrapper .um-cover-photo[data-ratio="1.6:1"] {
  aspect-ratio: 1.6/1;
}
.um.um-profile .um-profile-header .um-cover-wrapper .um-cover-photo[data-ratio="2.7:1"] {
  aspect-ratio: 2.7/1;
}
.um.um-profile .um-profile-header .um-cover-wrapper .um-cover-photo[data-ratio="2.2:1"] {
  aspect-ratio: 2.2/1;
}
.um.um-profile .um-profile-header .um-cover-wrapper .um-cover-photo[data-ratio="3.2:1"] {
  aspect-ratio: 3.2/1;
}
.um.um-profile .um-profile-header .um-profile-header-core {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  column-gap: 24px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex: 1;
  row-gap: 20px;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 16px;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row.um-profile-header-no-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row.um-profile-header-no-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row .um-profile-display-name-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 12px;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row .um-profile-display-name-wrapper .um-profile-display-name {
  font-size: var(--um-header-font-size-sm, 30px);
  line-height: var(--um-header-line-height-sm, 38px);
  font-weight: var(--um-header-font-weight-semibold, 600);
  margin: 0;
  padding: 0;
  color: var(--um-gray-900, #101828);
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row .um-profile-header-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 16px;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-social-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  column-gap: 16px;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-social-row a {
  text-align: center;
  width: 36px;
  line-height: 36px;
  height: 36px;
  font-size: 20px;
  border-radius: 100%;
  color: #fff;
  opacity: 0.85;
  margin: 0 1px;
  transition: 0.25s;
  display: inline-block;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-social-row a:hover {
  opacity: 1;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-supporting-rows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  row-gap: 16px;
}
.um.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-supporting-rows .um-profile-header-supporting-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 16px;
  color: var(--um-gray-700, #344054);
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um.um-profile .um-profile-navbar {
  gap: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um.um-profile .um-profile-navbar:not(.um-grid) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.um.um-profile .um-profile-navbar.um-grid .um-dropdown-wrapper .um-dropdown-toggle-button button {
  width: 100%;
  justify-content: center;
}
.um.um-profile.um-editing .um-profile-header {
  border-bottom: 1px solid var(--um-gray-200, #eaecf0);
  padding-bottom: 12px;
}
.um.um-profile.um-profile-cover-enabled:not(.um-profile-no-cover) .um-profile-header .um-profile-header-core {
  padding: 0 32px;
}
.um.um-profile.um-profile-cover-enabled:not(.um-profile-no-cover) .um-profile-nav,
.um.um-profile.um-profile-cover-enabled:not(.um-profile-no-cover) .um-profile-subnav {
  padding: 0 32px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um.um-profile.um-profile-cover-enabled:not(.um-profile-no-cover) .um-profile-body {
  padding: 0 32px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um.um-profile.um-profile-cover-enabled:not(.um-profile-no-cover).um-profile-avatar-enabled .um-profile-header .um-profile-header-core {
  position: relative;
}
.um.um-profile.um-profile-cover-enabled:not(.um-profile-no-cover).um-profile-avatar-enabled .um-profile-header .um-profile-header-core .um-avatar {
  position: absolute;
  top: -48px;
}
.um.um-profile.um-profile-cover-enabled:not(.um-profile-no-cover).um-profile-avatar-enabled .um-profile-header .um-profile-header-core .um-profile-header-content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 148px;
  min-height: 80px;
}
.um.um-profile .um-profile-body {
  max-width: none !important;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um.um-profile .um-profile-body .um-form-new {
  width: 100% !important;
}

.um-profile-body .um-profile-note {
  text-align: center;
  color: var(--um-gray-700, #344054);
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
}
.um-profile-body.um-profile-main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  row-gap: 24px;
}
.um-profile-body.um-profile-main .um-profile-rows {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  row-gap: 20px;
}
.um-profile-body.um-profile-main .um-profile-rows .um-row-heading {
  color: var(--um-gray-900, #101828);
  font-size: var(--um-text-font-size-lg, 18px);
  line-height: var(--um-text-line-height-lg, 28px);
  font-weight: var(--um-text-font-weight-semibold, 600);
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  row-gap: 20px;
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row .um-profile-cols {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  column-gap: 12px;
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row .um-profile-cols .um-profile-col {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  row-gap: 20px;
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row .um-profile-cols .um-profile-col .um-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  row-gap: 6px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  color: var(--um-gray-700, #344054);
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
  padding: 0 0 20px 0;
  border-bottom: 1px solid var(--um-gray-200, #eaecf0);
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row .um-profile-cols .um-profile-col .um-field:last-child {
  border-bottom: none;
  padding: 0;
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row .um-profile-cols .um-profile-col .um-field label {
  color: var(--um-gray-900, #101828);
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-medium, 500);
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row .um-profile-cols.um-profile-cols-1 .um-profile-col {
  width: 100%;
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row .um-profile-cols.um-profile-cols-2 .um-profile-col {
  width: 50%;
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row .um-profile-cols.um-profile-cols-2 .um-profile-col.um-profile-col-right {
  align-items: end;
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row .um-profile-cols.um-profile-cols-2 .um-profile-col.um-profile-col-right .um-field {
  align-items: end;
}
.um-profile-body.um-profile-main .um-profile-rows .um-profile-row .um-profile-cols.um-profile-cols-3 .um-profile-col {
  width: 33.3333333333%;
}
.um-profile-body.um-profile-main .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field {
  padding: 0 0 20px 0;
  border-bottom: 1px solid var(--um-gray-200, #eaecf0);
}
.um-profile-body.um-profile-main .um-form-new .um-form-rows .um-form-row .um-form-cols .um-form-col .um-field:last-child {
  border-bottom: none;
  padding: 0;
}
.um-profile-body.um-profile-posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
}
.um-profile-body.um-profile-posts .um-user-profile-posts-loop {
  width: 100%;
}
.um-profile-body.um-profile-posts .um-user-profile-posts-loop .um-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
}
.um-profile-body.um-profile-posts .um-user-profile-posts-loop .um-list-item .um-item-img a {
  display: block;
  margin: 0;
  padding: 0;
}
.um-profile-body.um-profile-posts .um-user-profile-posts-loop .um-list-item .um-item-img a img.wp-post-image {
  position: relative;
  width: 64px;
  height: 64px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  display: block;
}
.um-profile-body.um-profile-posts .um-user-profile-posts-loop .um-list-item .um-item-img.um-empty-image {
  width: 64px;
  height: 64px;
  background: var(--um-gray-200, #eaecf0);
  font-size: var(--um-text-font-size-xs, 12px);
  line-height: var(--um-text-line-height-xs, 18px);
  font-weight: var(--um-text-font-weight-regular, 400);
  color: var(--um-gray-600, #475467);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: default;
}
.um-profile-body.um-profile-posts .um-user-profile-posts-loop .um-list-item .um-item-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex: 1;
  gap: 6px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um-profile-body.um-profile-posts .um-user-profile-posts-loop .um-list-item .um-item-data .um-header-link {
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-semibold, 600);
  color: var(--um-gray-900, #101828);
}
.um-profile-body.um-profile-posts .um-user-profile-posts-loop .um-list-item .um-item-data .um-item-meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}
.um-profile-body.um-profile-posts .um-user-profile-posts-loop .um-list-item .um-item-data .um-item-meta .um-supporting-text a {
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
  color: var(--um-gray-600, #475467);
  text-decoration: underline;
}
.um-profile-body.um-profile-comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
}
.um-profile-body.um-profile-comments .um-user-profile-comments-loop {
  width: 100%;
}
.um-profile-body.um-profile-comments .um-user-profile-comments-loop .um-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
}
.um-profile-body.um-profile-comments .um-user-profile-comments-loop .um-list-item .um-item-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex: 1;
  gap: 6px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.um-profile-body.um-profile-comments .um-user-profile-comments-loop .um-list-item .um-item-data .um-header-link {
  font-size: var(--um-text-font-size-md, 16px);
  line-height: var(--um-text-line-height-md, 24px);
  font-weight: var(--um-text-font-weight-semibold, 600);
  color: var(--um-gray-900, #101828);
}
.um-profile-body.um-profile-comments .um-user-profile-comments-loop .um-list-item .um-item-data .um-item-meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}
.um-profile-body.um-profile-comments .um-user-profile-comments-loop .um-list-item .um-item-data .um-item-meta .um-supporting-text a {
  font-size: var(--um-text-font-size-sm, 14px);
  line-height: var(--um-text-line-height-sm, 20px);
  font-weight: var(--um-text-font-weight-regular, 400);
  color: var(--um-gray-600, #475467);
  text-decoration: underline;
}

.um-field-value .um-photo-modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 4px;
  border: 1px solid var(--um-gray-200, #eaecf0);
  padding: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
.um-field-value .um-photo-modal .um-image-lazyload-wrapper {
  border-radius: 4px;
  width: 100%;
}
.um-field-value .um-photo-modal .um-image-lazyload-wrapper img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}
.um-field-value .um-photo-modal .um-image-lazyload-wrapper:not(.um-loaded) {
  width: 100%;
  min-height: 300px;
}
.um-field-value .um-photo-modal .um-image-lazyload-wrapper:not(.um-loaded) img {
  min-height: 300px;
}
.um-field-value .um-field-single-file {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 8px;
  padding: 0;
}
.um-field-value .um-field-single-file .um-field-file-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
}
.um-field-value .um-field-single-file .um-field-file-info .um-field-file-download-link {
  visibility: hidden;
}
.um-field-value .um-field-single-file:hover .um-field-file-info .um-field-file-download-link {
  visibility: visible;
}