.um-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  row-gap: 12px;
}
.um-profile .um-profile-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  row-gap: 12px;
}
.um-profile .um-profile-header .um-profile-header-core {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  column-gap: 24px;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex: 1;
  row-gap: 20px;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 16px;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row.um-profile-header-no-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row.um-profile-header-no-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row .um-profile-display-name-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 12px;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row .um-profile-display-name-wrapper .um-profile-display-name {
  font-size: var(--um-header-font-size-sm, 30px);
  line-height: var(--um-header-line-height-sm, 38px);
  font-weight: var(--um-header-font-weight-semibold, 600);
  margin: 0;
  padding: 0;
  color: var(--um-gray-900, #101828);
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-main-row .um-profile-header-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 16px;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-social-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  column-gap: 16px;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-social-row a {
  text-align: center;
  width: 36px;
  line-height: 36px;
  height: 36px;
  font-size: 20px;
  border-radius: 999px;
  color: #fff;
  opacity: 0.85;
  margin: 0 1px;
  transition: 0.25s;
  display: inline-block;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-social-row a:hover {
  opacity: 1;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-supporting-rows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  row-gap: 16px;
}
.um-profile .um-profile-header .um-profile-header-core .um-profile-header-content .um-profile-header-supporting-rows .um-profile-header-supporting-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 16px;
}