@import "../selectors"
@import "../mixins"
@import "../box"
@import "../colors"
@import "../typography"

.#{$prefix}profile
  +flex( column,flex-start,stretch,nowrap )
  row-gap: $spacing-lg
  .#{$prefix}profile-header
    +flex( column,flex-start,stretch,nowrap )
    row-gap: $spacing-lg
    .#{$prefix}profile-header-core
      +flex( row,space-between,start,nowrap )
      column-gap: $spacing-3xl
      .#{$prefix}profile-header-content
        +flex( column,flex-start,stretch,nowrap )
        flex: 1
        row-gap: $spacing-2xl
        .#{$prefix}profile-header-main-row
          +flex( row,space-between,center,nowrap )
          column-gap: $spacing-xl
          &.#{$prefix}profile-header-no-name
            +flex( row,flex-end,center,nowrap )
          &.#{$prefix}profile-header-no-actions
            +flex( row,flex-start,center,nowrap )
          .#{$prefix}profile-display-name-wrapper
            +flex( row,flex-start,center,nowrap )
            column-gap: $spacing-lg
            .#{$prefix}profile-display-name
              +typography(header,sm,semibold)
              margin: 0
              padding: 0
              color: $gray-900
          .#{$prefix}profile-header-actions
            +flex( row,flex-end,center,nowrap )
            column-gap: $spacing-xl
        .#{$prefix}profile-header-social-row
          +flex( row,flex-start,center,nowrap )
          margin: 0
          padding: 0
          column-gap: $spacing-xl
          a
            text-align: center
            width: 36px
            line-height: 36px
            height: 36px
            font-size: 20px
            border-radius: 999px
            color: $um-white
            opacity: 0.85
            margin: 0 1px
            transition: 0.25s
            display: inline-block
            &:hover
              opacity: 1
        .#{$prefix}profile-header-supporting-rows
          +flex( column,flex-start,flex-start,nowrap )
          margin: 0
          padding: 0
          row-gap: $spacing-xl
          .#{$prefix}profile-header-supporting-row
            +flex( row,flex-start,center,wrap )
            margin: 0
            padding: 0
            gap: $spacing-xl
  &.#{$prefix}editing
    .#{$prefix}profile-header
      border-bottom: 1px solid $gray-200
      padding-bottom: $spacing-lg
