/* Modules ListTable */

.wp-list-table.modules .row-actions span.deactivate a,
.wp-list-table.modules .row-actions span.flush-data a {
	color: #b32d2e;
}

.um-module-data-wrapper {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.um-module-icon-wrapper {
	display: flex;
	width: 50px;
	margin-right: 10px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}

.um-module-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 100%;
    padding: 3px;
    background: #fff;
    box-sizing: border-box;
}

.um-module-title-wrapper {
	display: flex;
	width: calc( 100% - 60px );
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
}

.um-module-data-wrapper.um-module-no-icon .um-module-title-wrapper {
    width: 100%;
}

.wp-list-table.modules .active th.check-column {
	border-left: 4px solid #72aee6;
}

.wp-list-table.modules .disabled th.check-column {
	border-left: 4px solid #dba617;
}

.wp-list-table.modules tr.active+tr.inactive td,
.wp-list-table.modules tr.active+tr.inactive th,
.wp-list-table.modules tr.disabled+tr.enabled td,
.wp-list-table.modules tr.disabled+tr.enabled th {
	border-top: 1px solid rgba(0,0,0,.03);
	box-shadow: inset 0 1px 0 rgb(0 0 0 / 2%), inset 0 -1px 0 #dcdcde;
}

.wp-list-table.modules .enabled th.check-column,
.wp-list-table.modules .inactive th.check-column,
.wp-list-table.modules thead td.check-column,
.wp-list-table.modules tfoot td.check-column {
	padding-left: 7px;
}

.wp-list-table.modules .active th,
.wp-list-table.modules .active td {
	background-color: #f0f6fc;
	box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%);
}

.wp-list-table.modules .inactive td,
.wp-list-table.modules .inactive th {
	box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%);
}

.wp-list-table.modules .disabled th,
.wp-list-table.modules .disabled td {
	background-color: #fcf9e8;
	box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%);
}

@media (min-width: 783px) {
	.wp-list-table.modules .column-module {
		width: 40%;
	}
}

@media screen and (max-width: 782px) {
	/* List tables that don't toggle rows */
	.wp-list-table.modules .toggle-row {
		display: none;
	}

	/* Plugin/Theme Management */
	#wpbody-content .wp-list-table.modules td {
		display: block;
		width: auto;
		padding: 10px 9px; /* reset from other list tables that have a label at this width */
	}

	/* Plugin description hidden via Screen Options */
	#wpbody-content .wp-list-table.modules .desc.hidden {
		display: none;
	}

	#wpbody-content .wp-list-table.modules .column-description {
		padding-top: 2px;
	}

	#wpbody-content .wp-list-table.modules tbody .column-module {
		padding-right: 12px;
		white-space: normal;
		padding-top: 7px;
	}

	.wp-list-table.modules tbody .column-module {
		padding-top: 13px;
		padding-bottom: 4px;
	}

	.wp-list-table.modules #the-list tr > td:not(:last-child) {
		box-shadow: none;
		border-top: none;
	}

	.wp-list-table.modules #the-list tr td {
		border-top: none;
	}

	.wp-list-table.modules tbody {
		padding: 1px 0 0;
	}

	.wp-list-table.modules tr.active + tr.inactive th.check-column,
	.wp-list-table.modules tr.active + tr.inactive td.column-description,
	.wp-list-table.modules tr.disabled + tr.enabled th.check-column,
	.wp-list-table.modules tr.disabled + tr.enabled td.column-description {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	}

	.wp-list-table.modules tr.active + tr.inactive th.check-column,
	.wp-list-table.modules tr.active + tr.inactive td,
	.wp-list-table.modules tr.disabled + tr.enabled th.check-column,
	.wp-list-table.modules tr.disabled + tr.enabled td {
		border-top: none;
	}


	.wp-list-table.modules .plugin-title strong {
		font-size: 1.4em;
		line-height: 1.5;
	}

	.wp-list-table.modules tbody th.check-column {
		padding: 8px 0 0 5px;
	}

	.wp-list-table.modules thead td.check-column,
	.wp-list-table.modules tfoot td.check-column,
	.wp-list-table.modules .inactive th.check-column,
	.wp-list-table.modules .enabled th.check-column {
		padding-left: 9px;
	}
}