.um-admin td, .um-admin th {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

.um-admin.post-type-um_form .manage-column.column-id {
	width: 60px;
}
.um-admin.post-type-um_form .manage-column.column-mode {
	width: 100px;
}
.um-admin.post-type-um_form .manage-column.column-title {
	width: 200px;
}
.um-admin.post-type-um_form .manage-column.column-shortcode {
	width: 200px;
}
.um-admin.post-type-um_form .manage-column.column-impressions {
	width: 100px;
}
.um-admin.post-type-um_form .manage-column.column-conversions {
	width: 100px;
}

.um-admin.post-type-um_directory .manage-column.column-id {
	width: 60px;
}
.um-admin.post-type-um_directory .manage-column.column-title {
	width: 250px;
}

.um-admin.post-type-um_role .manage-column.column-title {
	width: 200px;
}
.um-admin.post-type-um_role .manage-column.column-count {
	width: 150px;
}
.um-admin.post-type-um_role .manage-column.column-core {
	width: 150px;
}

.um-admin.post-type-um_form td.column-shortcode,
.um-admin.post-type-um_form td.column-id,
.um-admin.post-type-um_directory td.column-shortcode,
.um-admin.post-type-um_directory td.column-id,
.um-admin.post-type-um_role td.column-count {
	font-size: 14px;
}

.um-admin.users-php  td.column-um_actions {
	padding-top: 12px;
}

.um-admin.users-php  td.column-um_actions a.button {
	height: 29px !important;
	margin: 0 0 0 2px !important;
	position: relative;
}

.um-admin.users-php .subsubsub li.subsep {
	display: block;
	visibility: hidden;
	height: 0;
}

/*
	- Welcome
*/

/*.um-about-wrap * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.um-about-wrap a.um-about-icon {
	margin: 0 0 0 15px !important;
	padding: 0 !important;
	text-decoration: none !important;
	color: #777 !important;
	font-size: 22px !important;
}

.um-about-wrap a.um-about-icon:hover {color: #0085ba !important}

.um-about-wrap .ultimatemember-actions a.button-primary,
.um-about-wrap .ultimatemember-actions a.button {
	vertical-align: top;
	margin: 0 5px 0 0;
}

.changelog a.button-primary {
	height: 40px;
	line-height: 38px;
}

.um-about-wrap a {text-decoration: none}*/

/*
	- General
*/



/*.um-admin-hide {display: none}*/

/*.um-admin-field {
	display: block;
	width: 100%;
	margin-top: 10px;
}

.um-admin-field a.button {
	position: relative;
	top: 1px;
	height: 30px !important;
}*/

.um-admin #major-publishing-actions{
	background-color: #fff !important;
	border-top:0;
}

.um-admin-tri {
	float: left;
	width: 33%;
}

.um-admin-left{
	float: left;
}
.um-admin-right {
	float: right;
}
.um-admin-clear {
	clear: both;
}

.um-admin a.button i,
.um-admin a.button-primary i {
	font-size: 15px !important;
	height: 15px !important;
	width: 15px !important;
	text-align: center !important;
	margin: 0 5px 0 0 !important;
	display: inline-block;
}

.um-admin a.button i:before,
.um-admin a.button-primary i:before {
	position: relative;
	top: 1px;
}

/*
	- Form Inputs
*/
.um-admin-metabox h3 {
	padding-left: 0 !important;
}

.um-admin-metabox h4 {
	font-size: 14px;
	background: #f5f5f5;
	padding: 8px 4px;
	color: #333;
}

.um-admin-metabox p {margin: 10px 0 0 0}

.um-admin-metabox label{
	display: block;
	cursor: default;
	margin: 0 0 8px 0 !important;
	padding: 0!important;
	font-size: 13px;
	color: #666;
}

.um-admin-metabox input[type="text"]:disabled{
	opacity: 0.7 !important;
	color: #aaa !important;
}

.um-admin-metabox input[type="text"] {
	height: auto !important;
}

.um-admin-metabox input[type="text"],
.um-admin-metabox textarea {
	width: 100%;
	max-width: 100%;
	display: block;
	box-sizing: border-box !important;
	font-size: 13px !important;
	line-height: 1.4em !important;
	padding: 4px 10px !important;
}

.um-admin-metabox textarea {
	padding: 8px !important;
	line-height: 1.6em;
	color: #888 !important;
}

.um-admin-metabox input[type="text"].um-admin-error,
.um-admin-metabox textarea.um-admin-error
{border-color: #C74A4A!important}

.um-admin-metabox input[type="text"].small {width: 54px}

.um-admin-metabox textarea {min-height: 100px;height: 100px}
.um-admin-metabox textarea.tall {min-height: 200px;height: 200px}

.um-admin-cur-condition-template {
	display: none;
}
