/* Roles metabox + table features */
.um-metabox-section .description {
    font-style: italic;
}

.um-metabox-section th {
    width: 35%;
}

.wp-list-table.roles .column-core,
.wp-list-table.roles .column-users,
.wp-list-table.roles .column-admin_access,
.wp-list-table.roles .column-priority {
    width:15%;
    text-align: center !important;
}

@media screen and (max-width: 782px) {
    .wp-list-table.roles .column-core,
    .wp-list-table.roles .column-users,
    .wp-list-table.roles .column-admin_access,
    .wp-list-table.roles .column-priority {
        text-align: left !important;
    }
}

#um-admin-form-wp-capabilities .um-metadata-line th {
    width: auto;
}

#um-admin-form-wp-capabilities .um-metadata-line td {
    width: 20px;
}

#um_edit_role #titlewrap > span {
    width: 40px;
    font-size: 24px;
    float:left;
    display: block;
    line-height: 37px;
}

#um-roles .row-actions .reset a {
    color:#a00;
}

#um-roles .row-actions .reset a:hover {
    color:red;
}