/*Admin menu*/
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
	display: none !important;
}

ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
	right:-9999999px;
}


/* Admin Notices */
.um-admin-notice {
	border-color: #0085ba !important;
	color: #555;
}

.um-admin-notice.upgraded {
	border-color: #0085ba !important;
	color: #555;
}

.um-admin-notice.error {
	border-color: #dc3232 !important;
	color: #555;
}

.um-admin-notice a.button-primary {
	background-color: #0085ba !important;
	border-color: #0085ba !important;
}

.um-admin-notice a.button-primary:hover {
	background-color: #008ec2 !important;
	border-color: #008ec2 !important;
}

.um-admin-notice a.button-secondary {
	opacity: 0.7;
}

.um-admin-notice a.button-secondary:hover {
	opacity: 0.9;
}

.um-admin-notice a {
	text-decoration: none;
	color: #0085ba;
}

.um-admin-notice a:hover {
	color: #44b0ec;
}

/*Tooltip*/
.ui-tooltip.um_tooltip {
	padding: 8px;
	color: #eeeeee !important;
	background: #333 !important;
	position: absolute;
	z-index: 1000000;
	max-width: 300px;
	font-size: 12px;
	border-radius: 5px;
	border: none !important;
	text-shadow: none !important;
}

.um_tooltip.dashicons,
.um_tooltip.dashicons:before {
	height:22px;
}

.um_tooltip.dashicons-editor-help::before {
	float: left;
	font-size: 20px;
	line-height: 20px;
	color: #333 !important;
}
.um_tooltip {
	cursor: pointer;
	vertical-align: middle;
}
.um_tooltip:hover {
	opacity: 1;
}

.um_tooltip:hover:before {
	opacity: 0.8;
}


/*
	- General metabox styling
*/

/*#um-admin-access-settings h3 {
	padding: 10px 20px 10px 60px;
	color: #fff;
	background: #0085ba url(../img/logo-small.png) no-repeat 12px center;
	font-weight: bold;
	font-size: 14px !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

#um-admin-access-settings h4 { margin: 10px 0 4px 0!important}

#um-admin-access-settings div.handlediv {
	color: #fff !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

#um-admin-access-settings p {font-size: 13px}

#um-admin-access-settings input[type=text] {font-size: 13px}*/





/*a.um-delete {
    color: #a00;
}*/

/*
	- jQuery Tooltips
*/

/*
.um-admin-tip {
	margin: 0 0 0 2px;
	color: #0085ba !important;
	vertical-align: middle;
	position: relative;
	top: -3px;
	opacity: 0.8;
}
.um-admin-tip.n {
	margin-left: 5px;
}
.um-admin-tip i {
	cursor: pointer;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
	color: #0085ba !important;
}*/
