.um-admin-notice {
	border-color: #0085ba !important;
	color: #555;
}

.um-admin-notice.upgraded {
	border-color: #0085ba !important;
	color: #555;
}

.um-admin-notice.error {
	border-color: #dc3232 !important;
	color: #555;
}

.um-admin-notice a.button-primary {
	background-color: #0085ba !important;
	border-color: #0085ba !important;
}

.um-admin-notice a.button-primary:hover {
	background-color: #008ec2 !important;
	border-color: #008ec2 !important;
}

.um-admin-notice a.button-secondary {opacity: 0.7}
.um-admin-notice a.button-secondary:hover {opacity: 0.9}
.um-admin-notice a {text-decoration: none;color: #0085ba}
.um-admin-notice a:hover {color: #44b0ec}

.um-filter {
	padding: 12px;
	border-color: #ddd !important;
	margin: 20px 0 0 0 !important;
	font-size: 14px;
	line-height: 24px;
}

/*
	- General metabox styling
*/

#um-admin-access-settings h3 {
	padding: 10px 20px 10px 60px;
	color: #fff;
	background: #0085ba url(../img/logo-small.png) no-repeat 12px center;
	font-weight: bold;
	font-size: 14px !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

#um-admin-access-settings h4 { margin: 10px 0 4px 0!important}

#um-admin-access-settings div.handlediv {
	color: #fff !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

#um-admin-access-settings p {font-size: 13px}

#um-admin-access-settings input[type=text] {font-size: 13px}

/*
	- Nav Menu
*/

.um-nav-edit * {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

.um-nav-edit-h2 {
	padding: 10px 20px 10px 60px;
	margin: 14px 12px 0 0;
	border-radius: 3px;
	color: #fff;
	background: #0085ba url(../img/logo-small.png) no-repeat 12px center;
	font-weight: bold;
}

.um-nav-mode {margin-top:10px}
.um-nav-roles {display: none;margin-top:5px}

/*
	- jQuery Tooltips
*/

.um-admin-tip {
	margin: 0 0 0 2px;
	color: #0085ba !important;
	vertical-align: middle;
	position: relative;
	top: -3px;
	opacity: 0.8;
}
.um-admin-tip.n {margin-left: 5px}
.um-admin-tip i {cursor: pointer; vertical-align: middle; font-size: 20px; line-height: 20px;color: #0085ba !important;}
a.um-delete{ color: #a00; }



/* Roles metabox + table features */
.um-metabox-section .description {
	font-style: italic;
}

.um-metabox-section th {
	width: 35%;
}

.wp-list-table.roles .column-core,
.wp-list-table.roles .column-users,
.wp-list-table.roles .column-admin_access,
.wp-list-table.roles .column-priority {
	width:15%;
	text-align: center !important;
}

@media screen and (max-width: 782px) {
	.wp-list-table.roles .column-core,
	.wp-list-table.roles .column-users,
	.wp-list-table.roles .column-admin_access,
	.wp-list-table.roles .column-priority {
		text-align: left !important;
	}
}

#um-admin-form-wp-capabilities .um-metadata-line th {
	width: auto;
}

#um-admin-form-wp-capabilities .um-metadata-line td {
	width: 20px;
}

#um_edit_role #titlewrap > span {
	width: 40px;
	font-size: 24px;
	float:left;
	display: block;
	line-height: 37px;
}

#um-roles .row-actions .reset a {
	color:#a00;
}

#um-roles .row-actions .reset a:hover {
	color:red;
}


/*Tooltip*/
.ui-tooltip.um_tooltip {
	padding: 8px;
	color: #eeeeee !important;
	background: #333 !important;
	position: absolute;
	z-index: 1000000;
	max-width: 300px;
	font-size: 12px;
	border-radius: 5px;
	border: none !important;
	text-shadow: none !important;
}

.ui-tooltip.um_tooltip a {
	color: #eeeeee !important;
}

.um_tooltip.dashicons,
.um_tooltip.dashicons:before {
	height:22px;
}

.um_tooltip.dashicons-editor-help::before {
	float: left;
	font-size: 20px;
	line-height: 20px;
	color: #333 !important;
}
.um_tooltip {
	cursor: pointer;
	vertical-align: middle;
}
.um_tooltip:hover {
	opacity: 1;
}

.um_tooltip:hover:before {
	opacity: 0.8;
}


.wp-admin p.um-nav-roles label input[type=checkbox] {
	margin-top: 0 !important;
}

.wp-admin p.um-nav-roles label {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}

.um_hidden_notice,
.um_block_settings_hide {
	display: none;
}



/* Modules ListTable */

.wp-list-table.modules .row-actions span.deactivate a,
.wp-list-table.modules .row-actions span.flush-data a {
	color: #b32d2e;
}

.um-module-data-wrapper {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}


.um-module-icon-wrapper {
	display: flex;
	width: 50px;
	margin-right: 10px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}

.um-module-title-wrapper {
	display: flex;
	width: calc( 100% - 60px );
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
}

.um-module-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: auto;
	border-radius: 100%;
	padding: 3px;
	background: #fff;
	box-sizing: border-box;
}


.wp-list-table.modules .active th.check-column {
	border-left: 4px solid #72aee6;
}

.wp-list-table.modules .disabled th.check-column {
	border-left: 4px solid #dba617;
}

.wp-list-table.modules tr.active+tr.inactive td,
.wp-list-table.modules tr.active+tr.inactive th,
.wp-list-table.modules tr.disabled+tr.enabled td,
.wp-list-table.modules tr.disabled+tr.enabled th {
	border-top: 1px solid rgba(0,0,0,.03);
	box-shadow: inset 0 1px 0 rgb(0 0 0 / 2%), inset 0 -1px 0 #dcdcde;
}

.wp-list-table.modules .enabled th.check-column,
.wp-list-table.modules .inactive th.check-column,
.wp-list-table.modules thead td.check-column,
.wp-list-table.modules tfoot td.check-column {
	padding-left: 7px;
}

.wp-list-table.modules .active th,
.wp-list-table.modules .active td {
	background-color: #f0f6fc;
	box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%);
}

.wp-list-table.modules .inactive td,
.wp-list-table.modules .inactive th {
	box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%);
}

.wp-list-table.modules .disabled th,
.wp-list-table.modules .disabled td {
	background-color: #fcf9e8;
	box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%);
}

@media (min-width: 783px) {
	.wp-list-table.modules .column-module {
		width: 40%;
	}
}

@media screen and (max-width: 782px) {
	/* List tables that don't toggle rows */
	.wp-list-table.modules .toggle-row {
		display: none;
	}

	/* Plugin/Theme Management */
	#wpbody-content .wp-list-table.modules td {
		display: block;
		width: auto;
		padding: 10px 9px; /* reset from other list tables that have a label at this width */
	}

	/* Plugin description hidden via Screen Options */
	#wpbody-content .wp-list-table.modules .desc.hidden {
		display: none;
	}

	#wpbody-content .wp-list-table.modules .column-description {
		padding-top: 2px;
	}

	#wpbody-content .wp-list-table.modules tbody .column-module {
		padding-right: 12px;
		white-space: normal;
		padding-top: 7px;
	}

	.wp-list-table.modules tbody .column-module {
		padding-top: 13px;
		padding-bottom: 4px;
	}

	.wp-list-table.modules #the-list tr > td:not(:last-child) {
		box-shadow: none;
		border-top: none;
	}

	.wp-list-table.modules #the-list tr td {
		border-top: none;
	}

	.wp-list-table.modules tbody {
		padding: 1px 0 0;
	}

	.wp-list-table.modules tr.active + tr.inactive th.check-column,
	.wp-list-table.modules tr.active + tr.inactive td.column-description,
	.wp-list-table.modules tr.disabled + tr.enabled th.check-column,
	.wp-list-table.modules tr.disabled + tr.enabled td.column-description {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	}

	.wp-list-table.modules tr.active + tr.inactive th.check-column,
	.wp-list-table.modules tr.active + tr.inactive td,
	.wp-list-table.modules tr.disabled + tr.enabled th.check-column,
	.wp-list-table.modules tr.disabled + tr.enabled td {
		border-top: none;
	}


	.wp-list-table.modules .plugin-title strong {
		font-size: 1.4em;
		line-height: 1.5;
	}

	.wp-list-table.modules tbody th.check-column {
		padding: 8px 0 0 5px;
	}

	.wp-list-table.modules thead td.check-column,
	.wp-list-table.modules tfoot td.check-column,
	.wp-list-table.modules .inactive th.check-column,
	.wp-list-table.modules .enabled th.check-column {
		padding-left: 9px;
	}
}