/*
	Mode field
*/
.um-admin-metabox * {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

.um-admin-metabox h6 {
	font-size: 14px;
	margin: 12px 0 0 0;
}

/*
	- Metabox layout
*/

.um-admin.post-type-um_form div#submitdiv,
.um-admin.post-type-um_form div#side-sortables {
	display:none;
}

/*
	- Boxed Links
*/

.um-admin-boxed-links {
	width: 100%;
	text-align: center;
}

.um-admin-boxed-links a {
	width: 33.3%;
	float: left;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 30px 25px !important;
	background: #f8f8f8;
	text-align: center;
	display: inline-block !important;
	font-size: 14px;
	transition: all .2s linear;
	text-decoration: none;
	color: #666;
	margin: 0 !important;
	box-sizing: border-box !important;
	border-radius: 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
}

.um-admin-boxed-links i {
	font-size: 28px;
	vertical-align: middle;
	margin: 0 10px 0 0;
}

.um-admin-boxed-links a:hover {
	background: #eee;
}

/*
	- General
*/

.um-admin-builder * {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

.um-admin-builder i {
	font-size: 15px !important;
	height: 100% !important;
	line-height: 100% !important;
	margin: 0 5px 0 0 !important;
}

.um-admin-builder .um-admin-drag {
	margin-top: 40px;
}


/*
	- Add field
*/
.um-admin-drag-add-field {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #aaa;
	text-decoration: none;
}

.um-admin-drag-add-field:hover {
	color: #0085ba;
}

.um-admin-drag-add-field i {
	font-size: 23px !important;
	margin: 0 !important;
}

/*
	- Drag controls
*/

.um-admin-drag-ctrls-demo.um-admin-drag-ctrls {
	position: absolute;
	right: 7px;
	top: -30px;
	left: auto;
}

.um-admin-drag-ctrls {
	position: absolute;
	top: -30px;
	left: 0;
}

.um-admin-drag-ctrls a {
	float: left;
	margin: 0 5px 0 0;
	height: 30px;
	line-height: 30px;
	background: #eee;
	color: #888;
	padding: 0 8px;
	text-decoration: none;
	border-radius: 2px 2px 0 0;
}

.um-admin-drag-ctrls a:hover {
	background-color: #e5e5e5;
}

.um-admin-drag-ctrls a.active,
.um-admin-drag-ctrls a.active:hover {
	background-color: #0085ba;
	color: #fff;
}

.um-admin-drag-ctrls.columns a {width: 30px !important;background-image: url(../img/1-column.gif); background-repeat: no-repeat; background-position: center;}
.um-admin-drag-ctrls.columns a:nth-child(2) {background-image: url(../img/2-columns.gif);}
.um-admin-drag-ctrls.columns a:last-child {background-image: url(../img/3-columns.gif);}

.um-admin-drag-ctrls.columns a.active {background-image: url(../img/1-column-active.gif)}
.um-admin-drag-ctrls.columns a.active:nth-child(2) {background-image: url(../img/2-columns-active.gif);}
.um-admin-drag-ctrls.columns a.active:last-child {background-image: url(../img/3-columns-active.gif);}

/*
	- Drag Area
*/

.um-admin-drag {
	width: 100%;
	background: #f1f1f1;
	box-sizing: border-box;
	position: relative;
	padding: 60px 20px 20px 20px;
}

.um-admin-drag-row {
	width: 100%;
	background: #fefefe;
	box-sizing: border-box;
	position: relative;
	padding: 60px 20px 20px 20px;
	margin: 0 0 60px 0;
}
.um-admin-drag-row:last-child {margin-bottom: 0}

.um-admin-drag-row-icons {
	position: absolute;
	right: 0;
	top: -30px;
	height: 30px;
}

.um-admin-drag-rowsub {
	position: relative;
	box-sizing: border-box;
	background: #f1f1f1;
	padding: 20px;
	margin: 0 0 60px 0;
}
.um-admin-drag-rowsub:last-child {margin-bottom: 0}

.um-admin-drag-rowsub-icons {
	position: absolute;
	right: 0;
	top: -30px;
	height: 30px;
}

.um-admin-drag-col {
	float: left;
	width: 100%;
	background: #fff;
	border: 1px dashed #bbb;
	box-sizing: border-box;
	padding: 20px;
}

.um-admin-drag-col.cols-3 {width: 32%;}
.um-admin-drag-col.cols-3.cols-last {width: 32%;}
.um-admin-drag-col.cols-3.cols-middle {width: 32%;margin: 0 2%;}

.um-admin-drag-col.cols-1 {width: 100%;}
.um-admin-drag-col.cols-1.cols-last {width: 100%;}
.um-admin-drag-col.cols-1.cols-middle {}

.um-admin-drag-col.cols-2 {width: 49%;margin: 0 1% 0 0}
.um-admin-drag-col.cols-2.cols-last {width: 49%;margin: 0 0 0 1%;}
.um-admin-drag-col.cols-2.cols-middle {}

.um-admin-drag-addrow {
	text-align: center;
	font-size: 14px;
	color: #888;
	cursor: pointer;
	border: 1px dashed #bbb;
	padding: 10px 0;
	margin: 20px 0 0 0;
}
.um-admin-drag-addrow i {
	font-size: 23px !important;
	margin: 0 !important;
}
.um-admin-drag-addrow:hover {color: #0085ba}

/*
	- Fields
*/

.um-admin-drag-fld {
	display: block;
	position: relative;
	border: 1px solid #dddddd;
	margin: 0 0 15px 0;
	background: #F5F5F5;
	cursor: move !important;
}

.um-admin-drag-fld-title i {
	width: 24px;
	display: inline-block;
	text-align: center;
}

.um-admin-drag-fld.um-field-type-group {background: #555;border: 0}
.um-admin-drag-fld-title.um-field-type-group,.um-admin-drag-fld-type.um-field-type-group {color: #fff}
.um-admin-drag-group {background: #FCFCFC;cursor: default;padding: 20px;border: 1px dashed #bbb;}
.um-admin-drag-col.cols-3 .um-admin-drag-fld-icons.um-field-type-group{float: left;position: relative;bottom: auto;right: auto;height: 30px;display: block;}
.um-admin-drag-fld-icons.um-field-type-group a.um_admin_duplicate_field {display: none !important}

.um-admin-drag-fld-title,
.um-admin-drag-fld-type {
	float: left;
	font-weight: bold;
	font-size: 13px;
	color: #666;
	height: 30px;
	line-height: 30px;
	margin: 0 0 0 20px;
}

.um-admin-drag-fld-type {
	font-weight: 400;
	color: #999;
}

.um-admin-drag-fld-icons {
	float: right;
}

.um-admin-half {
	float: left;
	width: 48%;
}

/*
	- Responsive cols appearance
*/

.um-admin-drag-col.cols-3 .um-admin-drag-fld-title,
.um-admin-drag-col.cols-3 .um-admin-drag-fld-type {
	height: auto;
	line-height: 18px;
	margin: 10px 10px 0 10px;
}

.um-admin-drag-col.cols-3 .um-admin-drag-fld-type {
	margin: 10px;
}

.um-admin-drag-col.cols-3 .um-admin-drag-fld-icons {
	float: none;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 30px;
	display: none;
}

.um-admin-drag-col.cols-3 .um-admin-drag-fld:hover .um-admin-drag-fld-icons{display: block;}

/*
	- Icons
*/

.um-admin-drag-row-icons a,
.um-admin-drag-row-icons span,
.um-admin-drag-rowsub-icons a,
.um-admin-drag-rowsub-icons span,
.um-admin-drag-fld-icons a{
	text-decoration: none;
	color: #fff;
	width: 40px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block !important;
	float: left;
	background: #0085ba;
	padding: 0 4px;
	transition: all .2s linear;
	border-left: 1px solid #379dd5;
}

.um-admin-drag-row-icons span,
.um-admin-drag-rowsub-icons span
{cursor: move!important}

.um-admin-drag-row-icons a:hover,
.um-admin-drag-row-icons span:hover,
.um-admin-drag-rowsub-icons a:hover,
.um-admin-drag-rowsub-icons span:hover,
.um-admin-drag-fld-icons a:hover {background: #008ec2;}

.um-admin-drag-row-icons i,
.um-admin-drag-rowsub-icons i,
.um-admin-drag-fld-icons i{
	font-size: 18px !important;
	margin: 0 !important;
	top: 2px;
	position: relative;
}

/*
	- UI Placeholders
*/

.um-row-placeholder {
	width: 100%;
	border: 2px dashed #aaa;
	box-sizing: border-box;
}

.um-rowsub-placeholder {
	width: 100%;
	border: 2px dashed #ccc;
	box-sizing: border-box;
	display: block;
}

.um-fld-placeholder {
	display: block;
	border: 1px dashed #dddddd;
	background: #fff;
	box-sizing: border-box;
	width: 100%;
}

/*
	- Error blocks
*/
.um-admin-error-block, .um-admin-success-block {
	display: none;
	width: 100%;
	background: #C74A4A;
	border-radius: 3px;
	color: #fff;
	box-sizing: border-box;
	position: relative;
	padding: 12px;
	font-size: 13px;
	line-height: 1em !important;
	margin: 0 0 16px 0;
}

.um-admin-success-block {
	background: #7acf58;
}

/*Conditional Logic*/
.um-admin-cur-condition-template {
	display: none;
}

/*Form Type Buttons*/
.um-admin a.um-admin-activebg,
.um-admin a.um-admin-activebg:hover{
	background: #0085ba;
	color: #fff;
}

/*Block layouts*/
.um-admin-right {
	float: right;
}