<html>
<body>

<div style="max-width: 600px;margin:20px auto;font-family: Open Sans,Helvetica,Arial;font-size: 15px;color: #666;">

	<div style="background: #3ba1da;padding: 0 0 0 20px;color: #fff;font-weight: normal;border-radius: 5px">
		<div style="float:left;padding: 20px 0;">{site_name}</div>
		<div style="float:right;padding: 12px 12px 0 0;"><a href="{user_profile_link}" style="text-decoration: none;vertical-align: middle;color: #fff;"><img src="{user_avatar_url}" width="32" height="32" alt="" style="border-radius: 3px;border: 2px solid #fff;background: #fff;vertical-align: middle;margin-right: 10px;" />{display_name}</a></div>
		<div style="clear:both"></div>
	</div>
	
	<div style="padding: 0 30px 30px 30px;border-bottom: 4px double #ccc;">

		<div style="padding: 30px 0;font-size: 24px;text-align: center;line-height: 40px;">Thank you for signing up with {site_name}!<span style="display: block;color:#333">Please click the following link to activate your account.</span></div>

		<div style="padding: 10px 0 50px 0;text-align: center;"><a href="{account_activation_link}" style="background: #3ba1da;color: #fff;padding: 12px 30px;text-decoration: none;border-radius: 3px;letter-spacing: 1px;border: 4px double #fff;">Activate your Account</a></div>
		
		<div style="border: 1px solid #ddd;padding: 15px;background: #eee;border-radius: 3px;text-align: center;">Need help? <a href="mailto:{admin_email}" style="color: #3ba1da;">contact  us</a> today.</div>
		
	</div>
	
	<div style="color: #999;padding: 20px 30px">
		
		<div style="">Thank you!</div>
		<div style="">The <a href="{site_url}" style="color: #3ba1da;text-decoration: none;">{site_name}</a> Team</div>
		
	</div>

</div>

</body>
</html>